﻿@model CallCenterDashboard1.EDMX.IndividualExtension

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IndividualExtension</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndividualKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndividualOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CallStatu.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CallStatu.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupExtension.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupExtension.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IndividualExtensionKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
