﻿@model IEnumerable<CallCenterDashboard1.EDMX.IndividualExtension>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IndividualKey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IndividualOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CallStatu.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroupExtension.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualKey)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IndividualOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CallStatu.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroupExtension.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IndividualExtensionKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.IndividualExtensionKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IndividualExtensionKey })
        </td>
    </tr>
}

</table>
