﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/_all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/grey.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

    <!-- BEGIN WIDGET TAB -->
    <div class="widget-bg-color-white widget-tab margin-top-20" style="height:539px">
        <ul class="nav nav-tabs caption">
            <li class="caption pull-left" style="margin-top:23px;font-size:1.6rem;">
                <i class="icon-social-twitter font-dark hide"></i>
                <span class="caption-subject font-dark bold uppercase">FAQs</span>
            </li>

            <li class="active pull-right">
                <a href="#generalFAQ" data-toggle="tab"> General </a>
            </li>
            <li class="pull-right">
                <a href="#specificFAQ" data-toggle="tab"> Specific </a>
            </li>
        </ul>
        <div class="tab-content scroller" style="height: 450px;" data-always-visible="1" data-handle-color="#D7DCE2">
            <div class="tab-pane fade active in" id="generalFAQ">

            </div>

            <div class="tab-pane fade" id="specificFAQ">

            </div>
        </div>
    </div>
    <!-- END WIDGET TAB -->    
</body>
</html>

@*<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/hammer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easing.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mapplic.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.counterup.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/quick-nav.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/components-select2.min.js")" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/icheck.min.js")" type="text/javascript"></script>
<script type="text/javascript"> 
    //$(document).ready(function () {

    //    $('input').iCheck({
    //    checkboxClass: 'icheckbox_minimal-grey',
    //    radioClass: 'iradio_minimal-grey',
    //    increaseArea: '20%' // optional
    //  });
    //});
</script>
<script type="text/javascript">

            //$(document).ready(function () {
    //    fillFAQsList(operationID);
            //});
    //fillFAQsList(operationID);
            //This is an ajax function to test operation and script display from database.
    function fillFAQsList(opID) {
        //this script is for FAQs
        var FAQURL = '@Url.Action("fillFAQsList", "CallCenter")';

        $.ajax({
            type: 'GET',
            url: FAQURL,
            data: { operationKey:opID },
            dataType: 'json',
            timeout: 10000,
            success: function (data, textStatus, xhr) {

                if (data == 0){}
                    //alert("fillFAQsList Data couldn't be found!");
                else {
                    //alert(opID);
                    $.each(data, function (key, value) {


                        var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
                        html += '<img class="widget-news-left-elem" alt="">';
                        html += '<div class="widget-news-right-body">';
                        html += '<div class="col-lg-7"><h3 class="widget-news-right-body-title"><input class="FAQanswerTemplate" data-OperationID="'+ opID +'"@*" data-FAQQuestionKey="'+here we put the Key needed+'"*@ type="checkbox">' + value.QuestionText + '</h3></div><label class="pull-right"><font><i>' + value.QuestionNote + '&nbsp</i></font></label>';
                        html += '<h5 class="col-lg-12" style="padding-left: 40px; font-size: medium;">' + value.AnswerValue + '</h5>';



                        //    var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
                        //    html += '<img class="widget-news-left-elem" alt="">';
                        //    html += '<div class="widget-news-right-body">';
                        //    html += '<h3 class="widget-news-right-body-title">' + value.QuestionText + '<span class="pull-right">' + value.QuestionNote + '</span></h3>';
                        //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';
                        //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';



                        if (value.FAQType == "General") $("#generalFAQ").append(html);
                        else if (value.FAQType == "Specific") $("#specificFAQ").append(html);
                    });

                    $('input').iCheck({
                        checkboxClass: 'icheckbox_minimal-grey',
                        radioClass: 'iradio_minimal-grey'
                    });

                }

            }




        });
    }

        //fillFAQsList(9);

    </script>



    