﻿@{ 
    Layout = null;
}
<style type="text/css">
    .select2{
        width:100%!important;
    }
</style>
<html>
<head>
    <meta charset="utf-8" />
    <title>Call Centre</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />

</head>
<body>
    <div class="portlet light portlet-fit ">

        <div class="portlet-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                    <div class="mt-widget-3">
                        <div class="mt-head bg-blue-hoki" style="min-width: 213px;min-height: 206px;">
                            <div class="mt-head-icon">
                                <i class="fa fa-bookmark-o"></i>
                            </div>
                            <div id="operationName" class="mt-head-desc"> </div>
                            <span class="mt-head-date" id="operationStartDate">  </span>
                            <span class="mt-head-date" id="operationEndDate">  </span>

                        </div>
                        <div class="mt-body-actions-icons">
                            <div class="btn-group btn-group btn-group-justified" id="operationSelectDisplay">

                                <div class="col-md-12">                                 
                                        <div class="form-group has-success">

                                            <label for="select2-single-input-group-sm" class="control-label">Change</label>
                                            <div class="input-group input-group-sm select2-bootstrap-prepend">
                                                @*<span class="input-group-addon">

                                                </span>*@

                                                <select id="operationSelect" style="min-width: 183px; min-height:30px;" class="form-control select2">

                                                    @*<optgroup label="Alaskan">
                            <option value="AK">Alaska</option>
                            <option value="HI" disabled="disabled">Hawaii</option>
                        </optgroup>*@

                                                </select>

                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 col-md-8 col-xs-12 col-sm-12 ">
                    <div class="mt-widget-3">

                        <div class="mt-head bg-green" style="height:295px">
                            <div class="mt-head-icon">
                                <i class="icon-graduation"></i>
                            </div>
                            <div id="scriptText" class="mt-head-desc">

                                <div id="scriptNote"></div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/hammer.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/mapplic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.counterup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/quick-nav.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/components-select2.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Clock.js")" type="text/javascript"></script>

    <!--for Question div-->
    @*<script src="@Url.Content("~/Scripts/horizontal-timeline.min.js")" type="text/javascript"></script>*@
</body>
</html>

<script type="text/javascript">
    

    //$(document).ready(function () {




    //    $("#callInd").click(function () {
    //        $("#kaka").addClass("mt-element-overlay");
    //        $("#showOverlay").show();
    //        $("#callInd").hide();
    //    });

    //    $("#btnEnd").click(function () {
    //        $("#kaka").removeClass("mt-element-overlay");
    //        $("#showOverlay").hide();
    //        $("#callInd").show();
    //    });

    //    $("#callMode").click(function () {
    //        $("#indList").hide();
    //        $("#questions").show();
    //    });

    //    $("#option1").click(function () {
    //        $("#questions").hide();
    //        $("#indList").show();
    //    });

        
    //});

    //the URL that returns all operations info
    var operationURL="http://server1.dev.wbintl.co:1682/CallCenter/GetAllOperationsInfo";

    ////This is an ajax function to test operation and script display from database.
    //function fillOperationsDropDown() {
    //    $.ajax({
    //        type: 'GET',
    //        url:operationURL,
    //        dataType: 'json',
    //        timeout: 10000,
    //        success: function (data, textStatus, xhr) {

    //            if (data == 0)
    //                alert("Data couldn't be found!");
    //            else {
    //                $.each(data, function (key, value) {
    //                    var operations = "<option value=" + value.OperationKey + ">" + value.OperationName + "</option>";
    //                    $("#operationSelect").append(operations);
    //                });

    //                //fill the first operation and script information on load.
    //                var operationID = $('#operationSelect :selected').val();
    //                displayOperationInformation(operationID);
    //                fillIndividualsList(operationID);
    //                fillFAQsList(operationID);
    //                $('#operationSelect').select2();
    //            }

    //        }
    //    });
    //}

   // //get the selected operation key.
   // $(document).on('change', '#operationSelect', function () {
   //     $('#operationSelect :selected').text();
   //     var operationID = $('#operationSelect :selected').val();
   //     displayOperationInformation(operationID)
   // });

   // //this function is to display the script &... ;
   //function displayOperationInformation(opID) {

   //     $.ajax({
   //         type: 'GET',
   //         url:operationURL + "?operationKey=" + opID + "",
   //         dataType: 'json',
   //         timeout: 10000,
   //         success: function (data, textStatus, xhr) {

   //             if (data == 0)
   //                 alert("Data couldn't be found!");
   //             else {
   //                 fillIndividualsList(opID);
   //                 //only one value will be displayed
   //                 $.each(data, function (key, value) {

   //                     //script info <div>
   //                     var scriptText = "<div>" + value.ScriptText; + "</div>";
   //                     $("#scriptText").html(scriptText);

   //                     var scriptNote = "<div><u><br/>NOTE:</u> " + value.ScriptNote; + "</div>";
   //                     $("#scriptText").append(scriptNote);

   //                     //operation info <div>
   //                     var operationName = "<div>" + value.OperationName; + "</div>";
   //                     $("#operationName").html(operationName);

   //                     var re = /-?\d+/;

   //                     //this is a way to convert a timestamp to a date. here it's done for operation start date.
   //                     var jsonDateStartDate = value.OperationStartDate  // returns "/Date(1245398693390)/"; this is an example format
   //                     var mStartDate = re.exec(jsonDateStartDate);
   //                     var dStartDate = new Date(parseInt(mStartDate[0]));
   //                     //getting only the day, month, and year.
   //                     var dayStartDate = dStartDate.getDate();
   //                     var monthStartDate = dStartDate.getMonth();
   //                     var yearStartDate = dStartDate.getFullYear();
   //                     //Start Date Format
   //                     var operationStartDate = "<div>Start Date: " + dayStartDate + "-" + monthStartDate + "-" + yearStartDate; + "</div>";
   //                     $("#operationStartDate").html(operationStartDate);

   //                     //this is a way to convert a timestamp to a date. here it's done for operation end date.
   //                     var jsonDateEndDate = value.OperationEndDate  // returns "/Date(1245398693390)/"; this is an example format
   //                     var mEndDate = re.exec(jsonDateEndDate);
   //                     var dEndDate = new Date(parseInt(mEndDate[0]));
   //                     //getting only the day, month, and year.
   //                     var dayEndDate = dEndDate.getDate();
   //                     var monthEndDate = dEndDate.getMonth();
   //                     var yearEndDate = dEndDate.getFullYear();
   //                     //End Date Format
   //                     var operationEndDate = "<div>End Date: " + dayEndDate + "-" + monthEndDate + "-" + yearEndDate; + "</div>";
   //                     $("#operationEndDate").html(operationEndDate);
   //                 });

   //             }
   //         },
   //         error: function (xhr, status, errorThrown) {
   //             alert(status + errorThrown);
   //         }
   //     })
   // }

</script>