﻿
@{
    ViewBag.Title = "PrintCall";
    Layout = null;
    int count = 0;
}

<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body >
    <table class="table">
        <tr>
            <th>
                User: @User.Identity.Name
            </th>
            <th>
                <pre>     </pre>
            </th>
            <th>
                Operation Name: @ViewBag.OperationName
            </th>
            <th>
                <pre>     </pre>
            </th>
            <th>
                Call Status: @ViewBag.CallStatus
            </th>
            <th>

            </th>
        </tr>
    </table>

    <table class="table" border="1">
        <tr>
           
            <th>
                Voter Full Name
            </th>
            <th>
                Phone Number Landline/Mobile
            </th>
            <th>
                Balda/Tayfeh/Sejjel
            </th>
            <th>
                Baldat El Sakan
            </th>
            <th>
                Intima2 Siyasi
            </th>
            <th>
                Taswit
            </th>
        </tr>

        @try
        {
            foreach (var item in Model)
            {
                count = count + 1;
                if(count > 100)
                {
                    break;
                }
                <tr>
                    <td>
                        @item["الاسم"] @item["اسم_الأب"] @item["الشهرة"]
                    </td>
                    <td>
                        @item["الهاتف"]/@item["الخليوي"]
                    </td>
                    <td>
                        @item["بلدة_النفوس"]/@item["الطائفة"]/@item["رقم_السجل"]

                    <td>
                        @item["بلدة_السكن"]
                    </td>
                    <td>
                        @item["الانتماء_السياسي"]
                    </td>
                    <td>
                        @item["التصويت"]
                    </td>
                </tr>
                };

            }
        catch
        {

        }


</table>
    <script>
        $(document).ready(function () {
           
            window.print();
        });
    </script>

</body>

</html>