﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/_all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/grey.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
    <div class="portlet light portlet-fit" style="height:537px;">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-directions font-green hide"></i>
                <span class="caption-subject bold font-dark uppercase">Survey</span>
                <span class="caption-helper"></span>
            </div>
            <div class="caption col-lg-7 col-md-7 col-sm-4" id="onCallIndInfo" style="text-align: right;">

            </div>

            <div class="actions pull-right">
                <div class="btn-group btn-group-devided pull-right" data-toggle="buttons">

                    <button type="button" class="btn btn-outline btn-circle green btn-sm" id="returnToIndividuals">Indiviuals</button>


                </div>
            </div>

            <div class="caption col-lg-9 col-md-9 col-sm-5" style="text-align: right;">
                <a id="editIndividualBtn" class="icon-btn circle" data-toggle="modal" href="#editIndividualModalContainer" style="width:75px;">
                    <i class="fa fa-pencil" style="width:100%;"></i>
                    <span style="width:100%;font-size:1rem;">Edit Individual</span>
                </a>
                <a id="IndividualFamilyBtn" class="icon-btn circle" data-toggle="modal" href="#IndividualFamilyModalContainer" style="width:75px;">
                    <i class="fa fa-users" style="width:100%;"></i>
                    <span style="width:100%;font-size:1rem;">Family</span>
                </a>
                <a id="requestServiceBtn" class="icon-btn circle" data-toggle="modal" href="#requestServiceModalContainer" style="width:75px;">
                    <i class="fa fa-heart-o" style="width:100%;"></i>
                    <span style="width:100%;font-size:1rem;">Request Service</span>
                </a>
                <a id="callBtn" class="icon-btn circle"  style="width:75px;">
                    <i class="fa fa-phone" style="width:100%;"></i>
                    <span style="width:100%;font-size:1rem;">Call</span>
                </a>
                <a id="visitBtn" class="icon-btn circle"  style="width:75px;">
                    <i class="fa fa-home" style="width:100%;"></i>
                    <span style="width:100%;font-size:1rem;">Visit</span>
                </a>
            </div>




        </div>
        <div class="portlet-body">
            <div class="cd-horizontal-timeline mt-timeline-horizontal" data-spacing="60">
                <div class="timeline mt-timeline-square">
                    <div class="events-wrapper">
                        <div class="events">
                            <ol id="questionsTimeline">
                                <li>
                                    <a href="#0" data-date="16/01/2014" id="0" class="border-after-blue bg-after-blue selected" style="display:none; left:120px;">Begin</a>
                                </li>
                                @*<li>
                                        <a href="#0" data-date="17/02/2015" id="1" class="border-after-blue bg-after-blue" style="display:none; left:240px;">End</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="17/02/2016" id="2" class="border-after-blue bg-after-blue" style="display:none; left:360px;">End</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="17/02/2017" id="3" class="border-after-blue bg-after-blue" style="display:none; left:480px;">End</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="17/02/2018" id="4" class="border-after-blue bg-after-blue" style="display:none; left:600px;">End</a>
                                    </li>
                                    <li>
                                        <a href="#0" data-date="17/02/2019" id="5" class="border-after-blue bg-after-blue" style="display:none; left:720px;">End</a>
                                    </li>
                                    <li>
                                            <a href="#0" data-date="17/02/2020" id="6" class="border-after-blue bg-after-blue" style="display:none; left:840px;">End</a>
                                        </li>
                                        <li>
                                            <a href="#0" data-date="17/02/2021" id="7" class="border-after-blue bg-after-blue" style="display:none; left:960px;">End</a>
                                        </li>*@
                            </ol>
                            <span class="filling-line bg-blue" aria-hidden="true"></span>
                        </div>
                        <!-- .events -->
                    </div>
                    <!-- .events-wrapper -->
                    <ul class="cd-timeline-navigation mt-ht-nav-icon">
                        <li>
                            <a href="#0" class="prev inactive btn blue md-skip">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#0" class="next btn blue md-skip">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- .cd-timeline-navigation -->
                </div>
                <!-- .timeline -->
                <div class="events-content" style="height: 200px;margin-top: 0px;overflow: auto;">
                    <ol id="questionContainer"></ol>
                </div>
                <!-- .events-content -->
            </div>
        </div>
    </div>

</body>
</html>

@*<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/hammer.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.easing.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/mapplic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.counterup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/quick-nav.min.js")" type="text/javascript"></script>*@

@*<script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/components-select2.min.js")" type="text/javascript"></script>*@

<!--for Question div-->
@*<script src="@Url.Content("~/Scripts/horizontal-timeline.min.js")" type="text/javascript"></script>*@

<script src="@Url.Content("~/Scripts/icheck.min.js")" type="text/javascript"></script>


@*<script type="text/javascript">


        //the URL that returns all operations info
        var operationURL="http://server1.dev.wbintl.co:1682/CallCenter/GetAllOperationsInfo";

        //This is an ajax function to test operation and script display from database.
        function fillOperationsDropDown() {
            $.ajax({
                type: 'GET',
                url:operationURL,
                dataType: 'json',
                timeout: 10000,
                success: function (data, textStatus, xhr) {

                    if (data == 0)
                        alert("Data couldn't be found!");
                    else {
                        $.each(data, function (key, value) {
                            var operations = "<option value=" + value.OperationKey + ">" + value.OperationName + "</option>";
                            $("#operationSelect").append(operations);
                        });

                        //fill the first operation and script information on load.
                        var operationID = $('#operationSelect :selected').val();
                        displayOperationInformation(operationID);
                        fillIndividualsList(operationID);
                        fillFAQsList(operationID);
                        $('#operationSelect').select2();
                    }

                }
            });
        }

        //get the selected operation key.
        $(document).on('change', '#operationSelect', function () {
            $('#operationSelect :selected').text();
            var operationID = $('#operationSelect :selected').val();
            displayOperationInformation(operationID);
            $("#pendingIndividualsList").empty();
            fillIndividualsList(operationID);
            $("#generalFAQ").empty();
            $("#specificFAQ").empty();
            fillFAQsList(operationID);

        });


        //this function is to display the script &... ;
       function displayOperationInformation(opID) {

            $.ajax({
                type: 'GET',
                url:operationURL + "?operationKey=" + opID + "",
                dataType: 'json',
                timeout: 10000,
                success: function (data, textStatus, xhr) {

                    if (data == 0)
                        alert("Data couldn't be found!");
                    else {

                        //only one value will be displayed
                        $.each(data, function (key, value) {

                            //script info <div>
                            var scriptText = "<div>" + value.ScriptText; + "</div>";
                            $("#scriptText").html(scriptText);

                            var scriptNote = "<div><u><br/>NOTE:</u> " + value.ScriptNote; + "</div>";
                            $("#scriptText").append(scriptNote);

                            //operation info <div>
                            var operationName = "<div>" + value.OperationName; + "</div>";
                            $("#operationName").html(operationName);

                            var re = /-?\d+/;

                            //this is a way to convert a timestamp to a date. here it's done for operation start date.
                            var jsonDateStartDate = value.OperationStartDate  // returns "/Date(1245398693390)/"; this is an example format
                            var mStartDate = re.exec(jsonDateStartDate);
                            var dStartDate = new Date(parseInt(mStartDate[0]));
                            //getting only the day, month, and year.
                            var dayStartDate = dStartDate.getDate();
                            var monthStartDate = dStartDate.getMonth();
                            var yearStartDate = dStartDate.getFullYear();
                            //Start Date Format
                            var operationStartDate = "<div>Start Date: " + dayStartDate + "-" + monthStartDate + "-" + yearStartDate; + "</div>";
                            $("#operationStartDate").html(operationStartDate);

                            //this is a way to convert a timestamp to a date. here it's done for operation end date.
                            var jsonDateEndDate = value.OperationEndDate  // returns "/Date(1245398693390)/"; this is an example format
                            var mEndDate = re.exec(jsonDateEndDate);
                            var dEndDate = new Date(parseInt(mEndDate[0]));
                            //getting only the day, month, and year.
                            var dayEndDate = dEndDate.getDate();
                            var monthEndDate = dEndDate.getMonth();
                            var yearEndDate = dEndDate.getFullYear();
                            //End Date Format
                            var operationEndDate = "<div>End Date: " + dayEndDate + "-" + monthEndDate + "-" + yearEndDate; + "</div>";
                            $("#operationEndDate").html(operationEndDate);
                        });

                    }
                },
                error: function (xhr, status, errorThrown) {
                    alert(status + errorThrown);
                }
            })
        }



        //});

    </script>

    <script type="text/javascript">
        //$(document).ready(function () {


            //});
            //the URL that returns all operations info
            var individualURL = "http://pmdev.wbintl.co:1682/CallCenter/getIndividuals";

            //This is an ajax function to test operation and script display from database.
            function fillIndividualsList(opID) {
                $.ajax({
                    type: 'GET',
                    url: individualURL + "?operationKey=" + opID,
                    dataType: 'json',
                    timeout: 10000,
                    success: function (data, textStatus, xhr) {

                        if (data == 0)
                            alert("Data couldn't be found!");
                        else {
                            var i = 0;
                            var curID = '';
                            var prevID = '';
                            //alert(opID);
                            $.each(data, function (key, value) {

                                curID=value.ID;
                                //alert(curID)
                                if (value.ID == "") return " ";

                                //else if (curID != prevID) {
                                    //alert("hello individual" + value.ID);
                                var html = "<div class='mt-action' id=" + String(parseInt(value.ID) + i) + ">";
                                    html += '<div class="mt-action">';
                                    html += '<div class="mt-action-img">';
                                    html += '<img src="@Url.Content("~/UsersImgs/placeholder.png")" style="width:45px; height:45px;" />';
                                    html += '</div>';
                                    html += '<div class="mt-action-body">';
                                    html += '<div class="mt-action-row">';
                                    html += '<div class="mt-action-info ">';
                                    html += '<div class="col-md-7 col-sm-7 col-lg-7"><div class="mt-action-icon ">';
                                    if (value.CallStatus == "Call") html += '<i id="fa' + String(parseInt(value.ID) + i) + '"class="fa fa-clock-o fa-4x" aria-hidden="true" value=' + value.CallStatus + '"></i>';
                                    html += '</div>';
                                    html += '<div class="mt-action-details ">';
                                    html += '<span class="mt-action-author">' + i + "  " + value.FirstName + ' ' + value.LastName + '</span>';
                                    html += '<p class="mt-action-desc">' + value.KadaaNoufous + ': ' + value.BaldaSakan + '&nbsp&nbsp<i class="fa fa-ellipsis-v" aria-hidden="true"></i>&nbsp&nbsp' + value.IntimaaSiyasiGroup + ': ' + value.IntimaaSiyasi + '</p></div>';
                                    html += '<div class="mt-action-datetime ">';
                                    html += '<span class="mt-action-dot bg-green"></span><span class="mt=action-time">9:30-13:00</span></div></div>';
                                    html += '<div class="mt-action-buttons" style="position: absolute; top: 50%; left: 70%; transform: translate(-50%,-50%);">';
                                    html += ' <div class="btn-group btn-group-circle" id="indRow' + String(parseInt(value.ID) + i) + '" data-rowId=' + String(parseInt(value.ID) + i) + ' style="width: 266px;height: 48px;">';
                                    html += '<button type="button" class="btn btn-outline green btn-xs" id="callInd'+ String(parseInt(value.ID) + i) +'" data-rowId=' + String(parseInt(value.ID) + i) + ' style="height:38px" value=' + value.ID + '>Call</button>';
                                    html += '<button type="button" class="btn btn-outline blue btn-xs" id="Test2">Wrong<br/>number</button>';
                                    html += '<button type="button" class="btn btn-outline yellow btn-xs" id="Test3">No<br/>answer</button>';
                                    html += '<button type="button" class="btn btn-outline blue btn-xs" id="btnCallBack' + String(parseInt(value.ID) + i) + '" data-rowId=' + String(parseInt(value.ID) + i) + '>Call<br/>back</button>';
                                    html += '<button type="button" class="btn btn-outline red btn-xs" id="done" data-rowId=' + String(parseInt(value.ID) + i) + ' style="height:38px">Done</button></div>';
                                    html += '<div class="btn-group btn-group-devided " id="indRowEnd" data-rowId=' + String(parseInt(value.ID) + i) + ' style="display:none; padding-bottom: 20px;">';
                                    html += '<button type="button" class="btn btn-outline red btn-circle btn-sm" id="btnEnd" >End</button></div></div></div></div></div>';

                                    prevID = curID;
                                //}
                                //else return '';
                                    i += 1;

                                $("#pendingIndividualsList").append(html);

                            });

                        }

                    }




                });
            }
        //}

        //fillIndividualsList(9);
    </script>*@

<script type="text/javascript">


    $(document).ready(function () {

        //    fillOperationsDropDown();

        //    $(document).on("click", "[id^='callInd']", function () {

        //        //stopwatch timer;
        //        start();

        //        $("#completedTab").attr("data-toggle", "disabled");
        //        $("#callBackTab").attr("data-toggle", "disabled");

        //        $("#completedTab").css("cursor", "no-drop");
        //        $("#callBackTab").css("cursor", "no-drop");

        //        $("#scrollIndividual").css("overflow", "hidden");

        //        var rowCallId = $(this).attr("data-rowId");
        //        var elementCopied = $("#" + rowCallId);

        //        $("#fa" + rowCallId).removeClass("fa-clock-o");
        //        $("#fa" + rowCallId).addClass("fa-phone");

        //        $("div").scrollTop(-1583);


        //        $(elementCopied).remove();
        //        $("#pendingIndividualsList").prepend(elementCopied);

        //        $("#individualsList").addClass("mt-element-overlay");
        //        $("#showOverlay").show();
        //        //$("#indRow" + rowCallId).hide();
        //        //$("#indRowEnd").show();

        //    });



        //    $(document).on("click", "#done", function () {

        //        //stopwatch timer;
        //        stop();
        //        var callTime = formatTime(x.time());
        //        alert(callTime);
        //        reset();

        //        $("#completedTab").attr("data-toggle", "tab");
        //        $("#callBackTab").attr("data-toggle", "tab");
        //        $("#pendingTab").attr("data-toggle", "tab");
        //        $("#completedTab").css("cursor", "auto");
        //        $("#callBackTab").css("cursor", "auto");
        //        $("#pendingTab").css("cursor", "auto");
        //        $("#scrollIndividual").css("overflow", "auto");

        //        $("#individualsList").removeClass("mt-element-overlay");
        //        $("#showOverlay").hide();

        //        var rowId = $(this).attr("data-rowId");

        //        var elementCopied = $("#" + rowId);

        //        $("#fa" + rowId).removeClass("fa-phone");
        //        $("#fa" + rowId).addClass("fa-check-circle-o");
        //        $("#indRow" + rowId).remove();
        //        $(elementCopied).remove();

        //        $("#completedIndividualsList").append(elementCopied);
        //    });


        //$(document).on("click", "#btnEnd", function () {

        //    $("#completedTab").attr("data-toggle", "tab");
        //    $("#callBackTab").attr("data-toggle", "tab");
        //    $("#completedTab").css("cursor", "auto");
        //    $("#callBackTab").css("cursor", "auto");
        //    $("#scrollIndividual").css("overflow", "auto");

        //    var rowEndId = $("#indRowEnd").attr("data-rowId");

        //    $("#fa" + rowEndId).removeClass("fa-phone");
        //    $("#fa" + rowEndId).addClass("fa-clock-o");

        //    $("#individualsList").removeClass("mt-element-overlay");
        //    $("#showOverlay").hide();
        //    $("#indRow" + rowEndId).show();
        //    $("#indRowEnd").hide();
        //});

        //$(document).on("click", "#callMode", function () {

        //    $("#individualsList").hide();
        //    $("#indList").hide();
        //    $("#questions").show();
        //});



        //$(document).on("click", "#returnToIndividuals", function () {

        //    $("#individualsList").show();
        //    $("#indList").show();
        //    $("#questions").hide();


        //});

        //cudtom go2top button in the footer
        $("#scrollTop").click(function () {
            $("body").scrollTop(-1583);
        });

    });


    //$(document).on("click", "[id^='btnCallBack']", function () {


    //    //stopwatch timer;
    //    stop();
    //    var callTime = formatTime(x.time());
    //    alert(callTime);
    //    reset();

    //    $("#completedTab").attr("data-toggle", "tab");
    //    $("#callBackTab").attr("data-toggle", "tab");
    //    $("#completedTab").css("cursor", "auto");
    //    $("#callBackTab").css("cursor", "auto");
    //    $("#scrollIndividual").css("overflow", "auto");
    //    $("#pendingTab").attr("data-toggle", "tab");
    //    $("#pendingTab").css("cursor", "auto");

    //    $("#individualsList").removeClass("mt-element-overlay");
    //    $("#showOverlay").hide();

    //    var rowId = $(this).attr("data-rowId");

    //    $("#callInd" + rowId).attr("id", "newCallInd" + rowId);

    //    var elementCopied = $("#" + rowId);

    //    $("#fa" + rowId).removeClass("fa-phone");
    //    $("#fa" + rowId).addClass("fa-arrow-left");
    //    //$("#btnCallBack" + rowId).remove();
    //    $(elementCopied).remove();




    //    $("#callBackIndividualsList").append(elementCopied);


    //});

    //$(document).on("click", "[id^='newCallInd']", function () {

    //    //stopwatch timer;
    //    start();

    //    $("#completedTab").attr("data-toggle", "disabled");
    //    $("#pendingTab").attr("data-toggle", "disabled");

    //    $("#completedTab").css("cursor", "no-drop");
    //    $("#pendingTab").css("cursor", "no-drop");

    //    $("#scrollIndividual").css("overflow", "hidden");

    //    var rowCallId = $(this).attr("data-rowId");
    //    var elementCopied = $("#" + rowCallId);

    //    $("#fa" + rowCallId).removeClass("fa-arrow-left");
    //    $("#fa" + rowCallId).addClass("fa-phone");

    //    $("div").scrollTop(-1583);


    //    $(elementCopied).remove();
    //    $("#callBackIndividualsList").prepend(elementCopied);

    //    $("#individualsList").addClass("mt-element-overlay");
    //    $("#showOverlay").show();

    //});

    ////This is an ajax function to test operation and script display from database.
    //function fillFAQsList(opID) {
    //    //this script is for FAQs
    //    var FAQURL = "http://pmdev.wbintl.co:1682/CallCenter/getFAQ";

    //    $.ajax({
    //        type: 'GET',
    //        url: FAQURL + "?operationKey=" + opID,
    //        dataType: 'json',
    //        timeout: 10000,
    //        success: function (data, textStatus, xhr) {

    //            if (data == 0)
    //                alert("Data couldn't be found!");
    //            else {
    //                //alert(opID);
    //                $.each(data, function (key, value) {


    //                    var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
    //                    html += '<img class="widget-news-left-elem" alt="">';
    //                    html += '<div class="widget-news-right-body">';
    //                    html += '<div class="col-lg-7"><h3 class="widget-news-right-body-title"><input type="checkbox">' + value.QuestionText + '</h3></div><label class="pull-right"><font sixe="4"><i>' + value.QuestionNote + '</i></font></label>';
    //                    html += '<h5 class="col-lg-12" style="padding-left: 40px;">' + value.AnswerValue + '</h5>';



    //                    //    var html = '<div class="widget-news margin-bottom-20" value=' + value.FAQType + '>';
    //                    //    html += '<img class="widget-news-left-elem" alt="">';
    //                    //    html += '<div class="widget-news-right-body">';
    //                    //    html += '<h3 class="widget-news-right-body-title">' + value.QuestionText + '<span class="pull-right">' + value.QuestionNote + '</span></h3>';
    //                    //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';
    //                    //    html += '<input type="radio" name="radio1"><label>' + value.AnswerValue + '</label>';



    //                    if (value.FAQType == "General") $("#generalFAQ").append(html);
    //                    else if (value.FAQType == "Specific") $("#specificFAQ").append(html);
    //                });

    //                $('input').iCheck({
    //                    checkboxClass: 'icheckbox_minimal-grey',
    //                    radioClass: 'iradio_minimal-grey'
    //                });

    //            }

    //        }




    //    });
    //}

    //fillFAQsList(9);

</script>

<script>

    //$(document).ready(function () {





    //$('input').iCheck({
    //    checkboxClass: 'icheckbox_minimal-grey',
    //    radioClass: 'iradio_minimal-grey',
    //    increaseArea: '20%' // optional
    //});
    //});
</script>