﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="@Url.Content("~/Content/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/mapplic.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="@Url.Content("~/Content/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/plugins.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/custom.min.css")" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="@Url.Content("~/Content/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/components-md.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CustomOverlay.css")" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

    <h2 style="margin-bottom:0px;margin-top:0px;">Welcome</h2>
    <div class="col-md-10 col-sm-6 col-xs-12" style="margin-left:0px;padding-left:0px;">
        <h2 class="col-md-5 col-sm-2 col-xs-12" style="width : 200px;"> 
            <span class="username username-hide-on-mobile pull-left"> @User.Identity.Name </span>
        </h2>
        <img alt="" src="~/UsersImgs/avatar1.jpg" class="col-md-6 col-sm-4 col-xs-12 pull-left" style="margin-left:10px;" />
    </div>
    <div class="col-md-12 col-sm-6 col-xs-12 margin-top-20">

        <h3 class="margin-top-20">Last login</h3>
        <h5>Date Time:<p id="date" style="margin-top: 5px;"></p></h5>
        <h5 class="margin-top-20" id="ipAddress"></h5>
        
    </div>

</body>
</html>

<script src="@Url.Content("~/Scripts/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/bootstrap-switch.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/morris.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/raphael-min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/hammer.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.easing.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.mousewheel.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mapplic.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.waypoints.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.counterup.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.sparkline.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/app.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/dashboard.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/layout.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/quick-sidebar.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/quick-nav.min.js")" type="text/javascript"></script>

<script src="@Url.Content("~/Scripts/select2.full.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/components-select2.min.js")" type="text/javascript"></script>

<script type="text/javascript">

    $(document).ready(function () {

        //fillOperationsDropDown();

        var dateNow = new Date();
        var dateDay = dateNow.getDate();
        var dateMonth = dateNow.getMonth();
        var dateYear = dateNow.getFullYear();
        var dateMinute = dateNow.getMinutes();
        var dateHour = dateNow.getHours();
        $("#date").text(dateDay + "/" + dateMonth + "/" + dateYear + " " + dateHour + ":" + dateMinute);

        $.getJSON('//freegeoip.net/json/?callback=?', function (data) {
            //console.log(JSON.stringify(data, null, 2));
            $("#ipAddress").html("IP Address: " + data.ip + "<br/>Country: " + data.country_name);
        });
    });
</script>