﻿@using CallCenterDashboard1.EDMX;
@using CallCenterDashboard1.Models;
@model ChildrensModels

@{
    //ViewBag.Title = "Individual";
    Layout = null;
}

@*<script src="~/Content/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />*@


<style>
    .font-green {
        color: #000000 !important;
    }

    label {
        font-size: 18px;
    }

    #IndividualForm input {
        font-size: 19px;
    }

    #IndividualForm select {
        font-size: 19px;
    }

    .select2{
        width:100%!important;
    }

 select{
     font-size:1.5rem!important;
 }

</style>

<script>
    var listFields = [
        "قضاء_السكن",
        "بلدة_السكن",
        "الحي",
        "التصويت",
        "الوضع_الانتخابي",
        "الانتماء_السياسي",
        "منخب",
        "مفتاح",
        "الهاتف",
        "الخليوي"];
</script>


@*<div class="row" style="margin-right: 51px;" id="IndividualForm">
    <div class="row">
        <div class="form-group col-lg-9">
            <input id="txt_FullDescription" value="" class="inputcolor form-control placeholder-no-fix" style="width: 65%;float: right;text-align:right" type="text" placeholder="" name="" disabled />
        </div>
        <div class="form-group col-lg-3">
            <p class="font-green" style="margin: 10px 0; ">: الاسم الثلاثي + بلدة النفوس/طائفة/سجل </p>
        </div>
    </div>

    //donetill here

    <div class="row" id="" style="margin-top: 24px;">
        <div class="row">
            <div style="float:right;">
                <div style="display:flex;float:right" class="form-group">

                    <label style="float:right;text-decoration:underline">:   عنوان السكن</label>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="" style="margin-right: 10px;">
        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">قضاء السكن</label>
                <select id="lives_in_kadaa_txt" data-value="قضاء_السكن" onchange="GetLiveINKadaa(this)" class="form-control mytextbox" style="float:right;  width: 188px;" type="text">
                    <option value="">قضاء السكن</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">بلدة السكن</label>
                <select id="lives_in_balda_txt" data-value="بلدة_السكن" class="form-control" style="float:right;  width: 188px;margin-right: 5px;" type="text">
                    <option value="">بلدة السكن</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:250px;margin-top: 21px;">
                <label style="float:right">الحي</label>
                <select id="neighbor_text" data-value="الحي" class="form-control" style="float:right;  width: 188px;">
                    <option value="">الحي</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">الشارع</label>
                <input type="text" id="street_txt" data-value="شارع" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
            </div>
            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">البناية</label>
                <input type="text" id="buildin_txt" data-value="بناية" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
            </div>
        </div>
        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">خليوي</label>
                <input type="text" id="" data-value="الخليوي" class="form-control phone_text" style="float:right;  width: 188px;    margin-right: 10px;">
            </div>
            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">هاتف</label>
                <input type="text" id="" data-value="الهاتف" class="form-control phone_text" style="float:right;  width: 188px;    margin-right: 10px;">
            </div>

            <div class="col-sm-2" style="float:right;width:298px;margin-top: 21px;">
                <label style="float:right"> هاتف دولي</label>
                <input type="text" id="" data-value="has_phone_number_abroad" class="form-control international_phone_text" style="float:right;  width: 188px;    margin-right: 10px;">
            </div>
        </div>
    </div>


    <div class="row" style="margin-top: 24px;">
        <div class="row">
            <div style="float:right;">
                <div style="display:flex;float:right" class="form-group">

                    <label style="float:right;text-decoration:underline">:   الواقع الانتخابي</label>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="wakeeEntikhabi" style="margin-right: 10px;">
        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:305px;margin-top: 21px;">
                <label style="float:right">انتماء سياسي</label>
                <select id="party_activist_txt" data-value="الانتماء_السياسي" class="form-control" style="float:right;  width: 188px;" type="text">

                    <option value="">الانتماء_السياسي</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:270px;margin-top: 21px;">
                <label style="float:right">تصويت</label>
                <select id="voting_txt" data-value="التصويت" class="form-control" style="float:right;  width: 188px;" type="text">
                    <option value="">تصويت</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:305px;margin-top: 21px;">
                <label style="float:right">وضع انتخابي</label>
                <select id="elections_status_txt" data-value="الوضع_الانتخابي" class="form-control" style="float:right;  width: 188px;" type="text">

                    <option value="">وضع انتخابي</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:289px;margin-top: 21px;">
                <label style="float:right">بلد السفر</label>
                <select id="country_travel_txt" data-value="بلد_السفر" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">بلد_السفر</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;margin-top: 21px;CLEAR: both;width: 245px;">

                <label style="float:right; margin-right:90px;">ملتزم</label>

                <input type="radio" data-value="ملتزم" name="isObeyence" value="true"> Yes
                <input type="radio" data-value="ملتزم" name="isObeyence" value="false"> No
            </div>

            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 245px;">
                <label style="float:right; margin-right:50px;">انتخب 2009</label>
                <input type="radio" data-value="انتخب_2009" class="radio_987" name="hasElected2009" value="true"> Yes
                <input type="radio" data-value="انتخب_2009" class="radio_987" name="hasElected2009" value="false"> No
            </div>
            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 245px;">
                <label style="float:right; margin-right:50px;">مندوب سابق</label>
                <input type="radio" data-value="مندوب_سابق" class="radio_987" name="isrepresentative" value="true"> Yes
                <input type="radio" data-value="مندوب_سابق" class="radio_987" name="isrepresentative" value="false" > No
            </div>
            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 245px;">
                <label style="float:right; margin-right:50px;">مندوب حالي</label>
                <input type="radio" data-value="مندوب_حالي" class="radio_987" name="isNewrepresentative" value="true"> Yes
                <input type="radio" data-value="مندوب_حالي" class="radio_987" name="isNewrepresentative" value="false" > No
            </div>
            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 232px;">
                <label style="float:right; margin-right:50px;">بحاجة لنقل</label>
                <input type="radio" data-value="بحاجة_لنقل" name="needTranport" value="true"> Yes
                <input type="radio" data-value="بحاجة_لنقل" name="needTranport" value="false" > No
            </div>
        </div>
        <div class="row" id="">






            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 284px;">
                <label style="float:right; margin-right:50px;">استعمل سيارته للنقل</label>
                <input type="radio" data-value="استعمال_سيارته_للنقل" class="radio_987" name="usecarForTransport" value="true"> Yes
                <input type="radio" data-value="استعمال_سيارته_للنقل" class="radio_987" name="usecarForTransport" value="false"> No
            </div>

            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 256px;">
                <label style="float:right; margin-right:50px;">انتخب 2010</label>
                <input type="radio" data-value="انتخب_2010" class="radio_987" name="elect2010" value="true"> Yes
                <input type="radio" data-value="انتخب_2010" class="radio_987" name="elect2010" value="false"> No
            </div>
        </div>

        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:265px;margin-top: 21px;">
                <label style="float:right; margin-right:50px;">منخب</label>
                <select id="mounakheb_txt" data-value="منخب" class="form-control" style="float:right;  width: 188px;">
                    <option value="">منخب</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;width:263px;margin-top: 21px;">
                <label style="float:right; margin-right:50px;">مفتاح</label>
                <select id="moftah_txt" data-value="مفتاح" class="form-control" style="float:right;  width: 188px;">
                    <option value="">مفتاح</option>
                </select>
            </div>

            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 235px;">
                <label style="float:right; margin-right:50px;">يتأثر بالمال</label>
                <input type="radio" data-value="تأثير_المال" name="money_intrests_txt" value="true"> Yes
                <input type="radio" data-value="تأثير_المال" name="money_intrests_txt" value="false" style="margin-left: 4px;"> No
            </div>

            <div class="col-sm-2" style="float:right;margin-top: 21px;width: 247px;">
                <label style="float:right; margin-right:50px;">انتخب 2016</label>
                <input type="radio" data-value="انتخب_2016" class="radio_987" name="elect2016" value="true"> Yes
                <input type="radio" data-value="انتخب_2016" class="radio_987" name="elect2016" value="false" style="margin-left: 4px;"> No
            </div>
        </div>
    </div>


    <div class="row" id="" style="margin-top: 24px;">
        <div class="row">
            <div style="float:right;">
                <div style="display:flex;float:right" class="form-group">

                    <label style="float:right;text-decoration:underline">:  Social Media Links</label>
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="" style="margin-right: 10px;">
        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:30%;margin-top: 21px;">
                <label style="float:right">Twitter Account</label>

                <input id="Has_Twitter_Account" data-value="Has_Twitter_Account" class="form-control mytextbox" style="float:right;  width: 73%;" type="text">

            </div>
            <div class="col-sm-2" style="float:right;width:30%;margin-top: 21px;">
                <label style="float:right">Instagram account</label>
                <input id="has_Instagram_Account" data-value="has_Instagram_Account" class="form-control mytextbox" style="float:right;  width: 68%;" type="text">

            </div>

            <div class="col-sm-2" style="float:right;width:30%;margin-top: 21px;">
                <label style="float:right">Facebook account</label>
                <input id="Has_Facebook_Account" data-value="Has_Facebook_Account" class="form-control mytextbox" style="float:right;  width: 68%;" type="text">

            </div>

        </div>
    </div>

    <div class="row" id="" style="margin-top: 24px;">
        <div class="row">
            <div style="float:right;">
                <div style="display:flex;float:right" class="form-group">

                    <label style="float:right;text-decoration:underline">:  معلومات أخرى</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row" id="" style="margin-right: 10px;">
        <div class="row" id="">
            <div class="col-sm-2" style="float:right;width:372px;margin-top: 21px;">
                <label style="float:right">جمعية 1</label>
                <select id="jam3iya1_txt" data-value="جمعية_1" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">جمعية 1</option>
                </select>

               

            </div>
            <div class="col-sm-2" style="float:right;width:372px;margin-top: 21px;">
                <label style="float:right">جمعية 2</label>
                <select id="jam3iya2_txt" data-value="جمعية_2" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">جمعية 2</option>
                </select>

             

            </div>

            <div class="col-sm-2" style="float:right;width:372px;margin-top: 21px;">
                <label style="float:right">المهنة</label>
                <select id="Job_txt" data-value="المهنة" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">المهنة</option>
                </select>

            </div>
            <div class="col-sm-2" style="float:right;width:295px;margin-top: 21px;">
                <label style="float:right">الاهتمامات</label>
                <select id="intrests_txt" data-value="الاهتمامات" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">الاهتمامات</option>
                </select>


            </div>
            <div class="col-sm-2" style="float:right;width:295px;margin-top: 21px; clear:both">
                <label style="float:right">الدخل</label>
                <select id="income_txt" data-value="الدخل" class="form-control" style="float:right;  width: 188px;    ">
                    <option value="">الدخل</option>
                </select>

            </div>
            <div class="col-sm-2" style="float:right;width:295px;margin-top: 21px;    margin-right: 60px">
                <label style="float:right">الهوايات</label>
                <select id="hobbies_txt"  data-value="الهوايات" class="form-control" style="float:right;  width: 188px;    margin-right: 10px;">
                    <option value="">الهوايات</option>
                </select>

            </div>
            <div class="col-sm-2" style="float:right;width:372px;margin-top: 21px;    margin-right: 60px">
                <label style="float:right">ملاحظات</label>

                <input id="Note_txt" data-value="ملاحظات" class="form-control mytextbox" style="float:right;  width: 188px;    margin-right: 10px;" type="text">

            </div>
        </div>

    </div>
    <div class="row" id="" style="margin-top: 24px;">
        <div class="row">
            <div style="float:right;">
                <div style="display:flex;float:right" class="form-group">

                    <label style="float:right;text-decoration:underline">:  الأولاد</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row" id="" style="margin-left: 117px; ">
        <div class="row" id="" style="/* background-color:#ffffff; */width: 920px;border-color: #333;border-style: solid;float: right;">
            <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
            <div class="" style="float:right;margin-top: 21px;margin-right: 8px;">
                <table id="childrens" style="width:100%">
                    <thead>
                        <tr>
                            <td> العمر</td>
                            <td>سنة الولادة</td>
                            <td>الجنس</td>
                            <td>الاسم</td>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <td><input id="age" type="text" class="form-group" /></td>
                            <td><input type="text"  class="form-control datepicker birth-date"  data-date-format="YYYY" ></td>

                            <td>
                                <select class="form-group">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </td>
                            <td><input type="text" class="form-group" /></td>

                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>


    <button class="btn green" style="margin-right: 10px" id="btnSave"> Submit</button>
</div>*@

<div id="IndividualForm" style="height:74%;overflow: auto;overflow-x:hidden" class="portlet box blue ">
    <div class="portlet-title pull-right" style="width:94%;z-index:10">

        <div class="caption" style="width:100%">
            <span id="txt_FullDescription" class="pull-right" style="color:white;"/>
        </div>
    </div>
    <div class="portlet-body form" style="width:100%;">
        <!-- BEGIN FORM-->
        <form class="form-horizontal form-bordered form-label-stripped">

            @*Part One*@
            <div class="form-group">
                <label class="control-label col-md-12">: عنوان السكن</label>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">قضاء السكن</label>
                    <div class="col-md-9 pull-right">
                        <select id="lives_in_kadaa_txt" data-value="قضاء_السكن" onchange="GetLiveINKadaa(this)" class="form-control pull-right" style="min-width:100px;">
                            <option style="float:right;" value="">قضاء السكن</option>
                        </select>
                        <span class="help-block pull-right"> Select قضاء السكن. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">البناية</label>
                    <div class="col-md-9 pull-right">
                        <input id="buildin_txt" type="text" placeholder="البناية" class="form-control pull-right" data-value="بناية"/>
                        <span class="help-block pull-right"> Type البناية. </span>
                    </div>

                    
                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">بلدة السكن</label>
                    <div class="col-md-9 pull-right">
                        <select id="lives_in_balda_txt" data-value="بلدة_السكن" class="form-control pull-right" style="min-width:100px;">
                            <option style="float:right;" value="">بلدة السكن</option>
                        </select>
                        <span class="help-block pull-right"> Select بلدة السكن. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">خليوي</label>
                    <div class="col-md-9 pull-right"">
                        <input id="" type="text" placeholder="خليوي" class="form-control pull-right phone_text" data-value="الخليوي"/>
                        <span class="help-block pull-right"> Type خليوي.</span>
                    </div>

                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">الحي</label>
                    <div class="col-md-9 pull-right">
                        <select id="neighbor_text" data-value="الحي" class="form-control pull-right" style="min-width:100px;">
                            <option value="" style="float:right;">الحي</option>
                        </select>
                        <span class="help-block pull-right"> Select الحي. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">هاتف</label>
                    <div class="col-md-9 pull-right">
                        <input id="" type="text" placeholder="هاتف" class="form-control pull-right  phone_text" data-value="الهاتف"/>
                        <span class="help-block pull-right phone_text"> Type هاتف. </span>
                    </div>
                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">الشارع</label>
                    <div class="col-md-9 pull-right"">
                        <input id="street_txt" type="text" placeholder="الشارع" class="form-control pull-right" data-value="شارع" />
                        <span class="help-block pull-right"> Type الشارع. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">هاتف دولي</label>
                    <div class="col-md-9 pull-right">
                        <input id="" data-value="has_phone_number_abroad" type="text" placeholder="هاتف دولي" class="form-control international_phone_text pull-right" />
                        <span class="help-block pull-right"> Type هاتف دولي. </span>
                    </div>
                </div>
            </div>



            @*Part Two*@
            <div class="form-group">
                <label class="control-label col-md-12">: الواقع الانتخابي</label>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">انتماء سياسي</label>
                    <div class="col-md-9 pull-right">
                        <select id="party_activist_txt" data-value="الانتماء_السياسي" class="form-control pull-right" style="min-width:100px;">
                            <option style="float:right;" value="">الانتماء_السياسي</option>
                        </select>
                        <span class="help-block pull-right"> Select انتماء سياسي. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">انتخب 2009</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="انتخب_2009" class="radio_987" name="hasElected2009" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="انتخب_2009" class="radio_987" name="hasElected2009" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">استعمل سيارته للنقل</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="استعمال_سيارته_للنقل" class="radio_987" name="usecarForTransport" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="استعمال_سيارته_للنقل" class="radio_987" name="usecarForTransport" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">يتأثر بالمال</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="تأثير_المال" name="money_intrests_txt" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="تأثير_المال" name="money_intrests_txt" value="false" style="margin-left: 4px;"> No</span>
                    </div>
                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">تصويت</label>
                    <div class="col-md-9 pull-right">
                        <select id="voting_txt" data-value="التصويت" class="form-control pull-right" style="min-width:100px;">
                            <option style="float:right;" value="">تصويت</option>
                        </select>
                        <span class="help-block pull-right"> Select تصويت. </span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">مندوب سابق</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="مندوب_سابق" class="radio_987" name="isrepresentative" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="مندوب_سابق" class="radio_987" name="isrepresentative" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">انتخب 2010</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="انتخب_2010" class="radio_987" name="elect2010" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="انتخب_2010" class="radio_987" name="elect2010" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">انتخب 2016</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="انتخب_2016" class="radio_987" name="elect2016" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="انتخب_2016" class="radio_987" name="elect2016" value="false" style="margin-left: 4px;"> No</span>
                    </div>
                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">وضع انتخابي</label>
                    <div class="col-md-9 pull-right">
                        <select id="elections_status_txt" data-value="الوضع_الانتخابي" class="form-control pull-right" style="min-width:100px;">
                            <option value="" style="float:right;">وضع انتخابي</option>
                        </select>
                        <span class="help-block pull-right"> Select وضع انتخابي. </span>
                    </div>
                </div>



                <div id="country_travel" class="form-group" style="height:88px;overflow:hidden;display:none">
                    <label class="control-label col-md-3 pull-right">بلد السفر</label>
                    <div class="col-md-9 pull-right">
                        <select id="country_travel_txt" data-value="بلد_السفر" class="form-control pull-right" style="min-width:100px;">
                            <option value="" style="float:right;">بلد السفر</option>
                        </select>
                        <span class="help-block pull-right"> Select بلد السفر. </span>
                    </div>
                </div>

                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">مندوب حالي</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="مندوب_حالي" class="radio_987" name="isNewrepresentative" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="مندوب_حالي" class="radio_987" name="isNewrepresentative" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">منخب</label>
                    <div class="col-md-9 pull-right">
                        <select  id="mounakheb_txt" data-value="منخب" class="form-control pull-right" style="min-width:100px;">
                            <option value="" style="float:right;">منخب</option>
                        </select>
                        <span class="help-block pull-right"> Select منخب. </span>
                    </div>
                </div>
            </div>

            <div class="form-body pull-right" style="width:25%;">
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">ملتزم</label>
                    <div class="col-md-9 pull-right">                        
                        <span style="float:right;"><input type="radio" data-value="ملتزم" name="isObeyence" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="ملتزم" name="isObeyence" value="false"> No</span>
                    </div>
                </div>
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">بحاجة لنقل</label>
                    <div class="col-md-9 pull-right">
                        <span style="float:right;"><input type="radio" data-value="بحاجة_لنقل" name="needTranport" value="true"> Yes</span>
                        <span style="float:right;margin-right:20px;"><input type="radio" data-value="بحاجة_لنقل" name="needTranport" value="false"> No</span>
                    </div>
                </div>

                @*<button id="btnSave" style="position: fixed;z-index: 10;margin-left:1%" class="btn btn-circle btn-lg blue">
                    <i class="fa fa-check"></i> Submit
                </button>*@
                <div class="form-group" style="height:88px;overflow:hidden;">
                    <label class="control-label col-md-3 pull-right">مفتاح</label>
                    <div class="col-md-9 pull-right">
                        <select id="moftah_txt" data-value="مفتاح" class="form-control pull-right" style="min-width:100px;">
                            <option value="" style="float:right;">مفتاح</option>
                        </select>
                        <span class="help-block pull-right"> Select مفتاح. </span>
                    </div>
                </div>


                       
                    
                
             


            </div>


              
          

                @*Part Three*@
                <div class="form-group">
                    <label class="control-label col-md-12">: Social Media Links</label>
                </div>

                <div class="form-body pull-right" style="width:33%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">Twitter Account</label>
                        <div class="col-md-9 pull-right">
                            <input id="Has_Twitter_Account" data-value="Has_Twitter_Account" type="text" placeholder="Twitter Account" class="form-control mytextbox pull-right" />
                            <span class="help-block pull-right"> Type in the twitter account. </span>
                        </div>
                    </div>
                </div>

                <div class="form-body pull-right" style="width:33%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">Instagram account</label>
                        <div class="col-md-9 pull-right">
                            <input id="has_Instagram_Account" data-value="has_Instagram_Account" type="text" placeholder="Instagram account" class="form-control mytextbox pull-right" />
                            <span class="help-block pull-right"> Type in the instagram account. </span>
                        </div>
                    </div>
                </div>

                <div class="form-body pull-right" style="width:33%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">Facebook account</label>
                        <div class="col-md-9 pull-right">
                            <input id="Has_Facebook_Account" data-value="Has_Facebook_Account" type="text" placeholder="Facebook account" class="form-control mytextbox pull-right" />
                            <span class="help-block pull-right"> Type in the facebook account. </span>
                        </div>
                    </div>
                </div>

                @*Part Four*@
                <div class="form-group">
                    <label class="control-label col-md-12">: معلومات أخرى</label>
                </div>

                <div class="form-body pull-right" style="width:25%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">جمعية 1</label>
                        <div class="col-md-9 pull-right">
                            <select id="jam3iya1_txt" data-value="جمعية_1" class="form-control pull-right" style="min-width:100px;">
                                <option style="float:right;" value="">جمعية 1</option>
                            </select>
                            <span class="help-block pull-right"> Select جمعية 1. </span>
                        </div>
                    </div>

                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">الدخل</label>
                        <div class="col-md-9 pull-right">
                            <select id="income_txt" data-value="الدخل" class="form-control pull-right" style="min-width:100px;">
                                <option style="float:right;" value="">الدخل</option>
                            </select>
                            <span class="help-block pull-right"> Select الدخل. </span>
                        </div>
                    </div>
                </div>

                <div class="form-body pull-right" style="width:25%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">جمعية 2</label>
                        <div class="col-md-9 pull-right">
                            <select id="jam3iya2_txt" data-value="جمعية_2" class="form-control pull-right" style="min-width:100px;">
                                <option style="float:right;" value="">جمعية 2</option>
                            </select>
                            <span class="help-block pull-right"> Select جمعية 2. </span>
                        </div>
                    </div>

                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">الهوايات</label>
                        <div class="col-md-9 pull-right">
                            <select id="hobbies_txt" data-value="الهوايات" class="form-control pull-right" style="min-width:100px;">
                                <option style="float:right;" value="">الهوايات</option>
                            </select>
                            <span class="help-block pull-right"> Select الهوايات. </span>
                        </div>
                    </div>
                </div>

                <div class="form-body pull-right" style="width:25%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">المهنة</label>
                        <div class="col-md-9 pull-right">
                            <select id="Job_txt" data-value="المهنة" class="form-control pull-right" style="min-width:100px;">
                                <option value="" style="float:right;">المهنة</option>
                            </select>
                            <span class="help-block pull-right"> Select المهنة. </span>
                        </div>
                    </div>

                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">ملاحظات</label>
                        <div class="col-md-9 pull-right">
                            <textarea id="Note_txt" style="height:70px" data-value="ملاحظات" type="text" placeholder="ملاحظات" class="form-control mytextbox pull-right" />
                            <span class="help-block pull-right"> Type ملاحظات. </span>
                        </div>
                    </div>
                </div>

                <div class="form-body pull-right" style="width:25%;">
                    <div class="form-group" style="height:88px;overflow:hidden;">
                        <label class="control-label col-md-3 pull-right">الاهتمامات</label>
                        <div class="col-md-9 pull-right">
                            <select id="intrests_txt" data-value="الاهتمامات" class="form-control pull-right" style="min-width:100px;">
                                <option style="float:right;" value="">الاهتمامات</option>
                            </select>
                            <span class="help-block pull-right"> Select الاهتمامات. </span>
                        </div>
                    </div>
                </div>

                @*Part Five*@
                <div class="form-group" style="background-color:transparent;height:30px;">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12">: الأولاد</label>
                </div>

                <div class="form-body pull-right" style="width:100%;">
                    <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                        <div class="row" id="" style="float: right;width:100%;">
                            <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                            <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">
                                <table id="childrens" style="width:100%">
                                    <thead>
                                        <tr>
                                            <td> Delete </td>
                                            <td> اختصاص </td>
                                            <td>هوايات</td>
                                            <td>الدراسة</td>
                                            <td> سنة الولادة</td>
                                            <td>العمر </td>
                                            <td>الجنس</td>
                                            <td>الاسم</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var child in Model.allchildrens)
                                        {
                                            <tr>
                                                <td>
                                                    <a class="btn btn-info" onclick="deletechildren(this)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </td>
                                                <td><input type="text" class="form-control Assign" value="@child.Major"></td>
                                                <td><input type="text" class="form-control hobbies" value="@child.Hobbies"></td>
                                                <td><input type="text" class="form-control studying"  value="@child.Studies"></td>
                                                <td><input type="text" class="form-control birth-date datepicker " value="@child.DateOfBirth"></td>
                                                <td><input type="text" class="form-group age" value="@child.Age" /></td>
                                                <td>
                                                    @if (child.SEX == "Male")
                                                    {
                                                        <select class="form-group childrensex">
                                                            <option selected>Male</option>
                                                            <option>Female</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <select class="form-group childrensex">
                                                            <option >Male</option>
                                                            <option selected>Female</option>
                                                        </select>
                                                    }

                                                </td>
                                                <td><input type="text" class="form-group childrenname" value="@child.Name" /></td>

                                            </tr>
                                        }
                                       
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        @*<div class="col-md-12" style="margin-top:10px;">
                            <button id="btnSave" type="submit" class="btn green">
                                <i class="fa fa-check"></i> Submit
                            </button>
                        </div>*@
                    </div>
                </div>
</form>
        <!-- END FORM-->
    </div>
</div>
@*<div class="fixed-action-btn toolbar pull-left">
    <a id="btnSave" class="btn-floating btn-large red">
        <i class="large fa fa-check">Submit</i>
    </a>
    <ul>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">insert_chart</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">format_quote</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
        <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>
    </ul>
</div>*@




    <script>
        var IndividualID;
        var ChildrenTable;
        $(document).ready(function () {

            $('.datepicker').datetimepicker({
                format: 'YYYY',
            });
            $('.phone_text').on('keypress', function (e) {
                if (e.keyCode != 8 && e.keyCode != 37 && e.keyCode != 39) {
                    if ($(this).val().length > 7) {
                        return false;
                    }
                }


                //
                return e.metaKey || // cmd/ctrl
                  e.which <= 0 || // arrow keys
                  e.which == 32 || // spacebar
                  e.which == 43 ||
                  e.which == 8 || // delete key
                  e.keyCode == 8 ||
                  /[0-9]/.test(String.fromCharCode(e.which)); // numbers
            });

            $('.international_phone_text').on('keypress', function (e) {

                if (e.keyCode != 8 && e.keyCode != 37 && e.keyCode != 39) {
                    if ($(this).val().length > 15) {
                        return false;
                    }
                }


                //
                return e.metaKey || // cmd/ctrl
                  e.which <= 0 || // arrow keys
                  e.which == 32 || // spacebar
                  e.which == 43 ||
                  e.which == 8 || // delete key
                  e.keyCode == 8 ||
                  /[0-9]/.test(String.fromCharCode(e.which)); // numbers
            });

            //$("#moftah_txt").select2();

            //$("#lives_in_balda_txt").select2({
            //    placeholder: "بلدة السكن"
            //});

            //$("#jam3iya1_txt").select2();
            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "جمعية 1", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#jam3iya1_txt').empty();
                $('#jam3iya1_txt').append('<option value="">جمعية 1</option>');
                $.each(data, function (index, value) {
                    $('#jam3iya1_txt').append('<option value="' + value + '">' + value + '</option>');
                });
                //$('#jam3iya1_txt').select2();
            });

            //$("#jam3iya2_txt").select2();
            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "جمعية 2", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#jam3iya2_txt').empty();
                $('#jam3iya2_txt').append('<option value="">جمعية 2</option>');
                $.each(data, function (index, value) {
                    $('#jam3iya2_txt').append('<option value="' + value + '">' + value + '</option>');
                });
                //$('#jam3iya2_txt').select2();
            });

            //$('#country_travel_txt').select2();

            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الهوايات", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#hobbies_txt').empty();
                $('#hobbies_txt').append('<option value="">الهوايات</option>');
                $.each(data, function (index, value) {
                    $('#hobbies_txt').append('<option value="' + value + '">' + value + '</option>');
                });
                //$('#hobbies_txt').select2();
            });
            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الدخل", whereVariable: null, resultVariable: null }).done(function (data) {

                $('#income_txt').empty();

                $('#income_txt').append('<option value="">الدخل</option>');
                $.each(data, function (index, value) {

                    $('#income_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });

            //$('#income_txt').select2();

            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الاهتمامات", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#intrests_txt').empty();
                $('#intrests_txt').append('<option value="">الاهتمامات</option>');
                $.each(data, function (index, value) {
                    $('#intrests_txt').append('<option value="' + value + '">' + value + '</option>');
                });
                //$('#intrests_txt').select2();
            });

            $.getJSON('@Url.Action("getCountries", "PMDashboard")').done(function (data) {
                $('#country_travel_txt').empty();
                $('#country_travel_txt').append('<option value="">بلد_السفر</option>');
                $.each(data, function (index, value) {
                    $('#country_travel_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });



            $.getJSON('@Url.Action("getEvaluation", "PMDashboard")').done(function (data) {
                $('#voting_txt').empty();

                //$('#voting_txt').append('<option value="">بلد_السفر</option>');
                $.each(data, function (index, value) {
                    $('#voting_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });



            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "منخب", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#mounakheb_txt').empty();
                $('#mounakheb_txt').append('<option value="">منخب</option>');
                $.each(data, function (index, value) {
                    $('#mounakheb_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });

            //$('#mounakheb_txt').select2();
            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "مفتاح", whereVariable: "", resultVariable: "" }).done(function (data) {
                $('#moftah_txt').empty();

                $('#moftah_txt').append('<option value=""> مفتاح </option>');
                $.each(data, function (index, value) {
                    $('#moftah_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });

            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "قضاء السكن", whereVariable: "", resultVariable: "" }).done(function (data) {
                $('#lives_in_kadaa_txt').empty();

                //$('#lives_in_kadaa_txt').append('<option value=""> قضاء السكن </option>');
                $.each(data, function (index, value) {
                    $('#lives_in_kadaa_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });

            //$("#lives_in_kadaa_txt").select2({
            //    placeholder: "قضاء السكن"
            //});

            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الانتماء السياسي", whereVariable: null, resultVariable: null }).done(function (data) {
                $('#party_activist_txt').empty();
                //$('#party_activist_txt').append('<option value="">الانتماء السياسي</option>');
                $.each(data, function (index, value) {
                    $('#party_activist_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });


            //$('#party_activist_txt').select2({
            //    placeholder: "الانتماء السياسي"
            //});


            //$('#voting_txt').select2({
            //    placeholder: "تصويت"
            //});

            //$("#elections_status_txt").select2({
            //    placeholder: "الوضع الانتخابي"
            //});


            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الوضع الانتخابي", whereVariable: "", resultVariable: "" }).done(function (data) {

                $('#elections_status_txt').empty();
                //$('#elections_status_txt').append('<option value=""> الوضع الانتخابي </option>');
                $.each(data, function (index, value) {
                    $('#elections_status_txt').append('<option value="' + value + '">' + value + '</option>');
                });
            });

            $("#elections_status_txt").on('change', function () {

                if ($("#elections_status_txt :selected").text().trim() == "هجرة" || $("#elections_status_txt :selected").text().trim() == "سفر") {
                    $("#country_travel").css("display", "block");

                } else {
                    $("#country_travel").css("display", "none");
                }

            });

            //$("#neighbor_text").select2({
            //    placeholder: "الحي"
            //});


            $("#lives_in_balda_txt").on("change", function () {
                $.getJSON('@Url.Action("getNeighborhood", "PMDashboard")', { balda: $("#lives_in_balda_txt").val() }).done(function (data) {
                    $('#neighbor_text').text('');
                    $('#neighbor_text').empty();

                    $.each(data, function (index, value) {
                        $('#neighbor_text').append('<option value="' + value + '">' + value + '</option>');
                    });
                });
            });

            //$("[type='select']").select2();
            ChildrenTable = $("#childrens").DataTable();
            $("#childrens_filter").hide();



            setTimeout(function () {
                var myJsVariable = '@ViewBag.Individual'
                var regex = new RegExp('&quot;', 'g');
                myJsVariable = myJsVariable.replace(regex, '"');
                 selectedIndividualToEdit = JSON.parse(myJsVariable);



       
         //$.each(objIndividual, function (index, value) {
                //    console.log(value);
                //});
                //selectedIndividualToEdit = JSON.parse(sessionStorage.getItem('selectedIndividualToEdit'));

                var individualSexLogo = '<i class="fa fa-user pull-right" aria-hidden="true"></i>'; //no sex specified
                if (selectedIndividualToEdit.الجنس.indexOf("ذ") >= 0) { //male
                    individualSexLogo = '<i class="fa fa-male pull-right" aria-hidden="true"></i>';
                } else if (selectedIndividualToEdit.الجنس.indexOf("ث") >= 0) { //female
                    individualSexLogo = '<i class="fa fa-female pull-right" aria-hidden="true"></i>';
                }
                var individualTownNoufousLogo = '<i class="fa fa-home pull-right" style="margin-right:30px;" aria-hidden="true"></i>';
                var individualReligionLogo = '<i class="fa fa-heart pull-right" style="margin-right:30px;" aria-hidden="true"></i>';



                if (selectedIndividualToEdit != "") {
                    $("#txt_FullDescription").html(individualSexLogo + "<span class='pull-right'>" + selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة + " </span> " + individualTownNoufousLogo + "<span class='pull-right'>" + selectedIndividualToEdit.بلدة_النفوس + " " + selectedIndividualToEdit.رقم_السجل + " </span> " + individualReligionLogo + "<span class='pull-right'>" + selectedIndividualToEdit.الطائفة + " </span> ");
                    //$("#txt_FullDescription").val(selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة + " / " + selectedIndividualToEdit.بلدة_النفوس + " / " + selectedIndividualToEdit.الطائفة + " / " + selectedIndividualToEdit.رقم_السجل);
                    $.each(selectedIndividualToEdit, function (columnName, value) {
                        debugger;

                        var control = $(document).find("[data-value='" + columnName + "']");

                        if (control.length > 0) {
                            if (control[0].id == "lives_in_kadaa_txt") {
                                control.attr("prev-value", value);
                                parentSelect = value;
                                control.val(value).trigger('change');
                            }
                            else if (control[0].id == "lives_in_balda_txt") {
                                GetLiveINKadaa(parentSelect, value);
                            }
                            else if (!control.is(':radio')) {
                                control.attr("prev-value", value);
                                control.val(value).trigger('change');
                            }

                            if (columnName == "الهاتف" || columnName == "الخليوي") {
                                control.val(value);
                            }                     

                        }
                    });
                }
            }, 6000);



        })

        function GetLiveINKadaa(element, childvalue) {
            console.log(element);
            var value = "";
            if ($(element).length > 0)
                value = element.value;
            else
                value = element;
            console.log(value);
            $.ajax({
                url: '@Url.Action("getFromIndividuals", "PMDashboard")',
                dataType: 'json',
                async: false,
                data: {
                    selectVariable: "بلدة السكن",
                    whereVariable: "قضاء السكن",
                    resultVariable: value
                },
                success: function (data) {
                    $('#lives_in_balda_txt').empty();
                    $('#lives_in_balda_txt').val('').trigger('change');
                    $('#lives_in_balda_txt').append('<option value="">بلدة السكن</option>');
                    $.each(data, function (index, value) {
                        $('#lives_in_balda_txt').append('<option value="' + value + '">' + value + '</option>');
                    });


                    if (childvalue != undefined) {
                        $('#lives_in_kadaa_txt').val(value).trigger('change');////
                        $('#lives_in_balda_txt').val(childvalue).trigger('change');
                        $('#lives_in_balda_txt').attr("prev-value", childvalue);

                    }
                }
            });


        }



        var updateList = new Array();
        var updateItem;
        var updateHash = "";
        $("#btnSave").click(function () {

            if (($("#elections_status_txt :selected").text().trim() == "هجرة" || $("#elections_status_txt :selected").text().trim() == "سفر") && $("#country_travel_txt :selected").text() == "بلد_السفر") {

                bootbox.alert("Please fill بلد السفر");
                return false;

            }

            var ChildrenNames = [];
            var ChildrenBirthDate = [];
            var ChildrenSex = [];
            var ChildrenAge = [];
            var ChildStudy = [];
            var Hobbies = [];
            var ChildrenAssign = [];
            $(".childrensex").each(function () {
                ChildrenSex.push(this.options[this.selectedIndex].text);
            });


            $(".birth-date").each(function () {
                ChildrenBirthDate.push($(this).val());

            });

            $(".childrenname").each(function () {
                ChildrenNames.push($(this).val());
            });

            $(".age").each(function () {
                ChildrenAge.push($(this).val());
            });

            $(".studying").each(function () {
                ChildStudy.push($(this).val());
            });

            $(".hobbies").each(function () {
                Hobbies.push($(this).val());
            });

            $(".Assign").each(function () {
                ChildrenAssign.push($(this).val());
            });




            $.ajax({
                url: '@Url.Action("UpdateChildrenIndividual", "PMDashboard")',
                dataType: 'json',
                type: 'Post',
                data: {
                    individualID: selectedIndividualToEdit.ID,
                    ChildrenNames: ChildrenNames,
                    ChildrenBirthDate: ChildrenBirthDate,
                    ChildrenSex: ChildrenSex,
                    ChildrenAge: ChildrenAge,
                    ChildStudy: ChildStudy,
                    Hobbies: Hobbies,
                    ChildrenAssign: ChildrenAssign,


                },
                success: function (data) {

            $('#IndividualForm input[type="text"]').filter(function () {
                if ($(this).length > 0 && $(this).id != "txt_FullDescription" && $(this).attr("data-value") != undefined) {
                    if (listFields.indexOf($(this).attr("data-value")) == -1) {
                        if ($(this).val() != $(this).attr("prev-value") && $(this).val() != "") {
                            updateHash += " [" + $(this).attr("data-value") + "] = N'" + $(this).val() + "' , ";
                        }
                    }
                    else {
                        if ($(this).val() != $(this).attr("prev-value") && $(this).val() != "") {

                            if ($(this).attr("data-value") == "مفتاح") {
                                updateItem = {
                                    previousValue: $(this).attr("prev-value"),
                                    newValue: $(this).val(),
                                    columnName: $(this).attr("data-value"),
                                    updateHash: "[" + $(this).attr("data-value") + "] = " + $(this).val() + " where [رقم السجل] = N'" + selectedIndividualToEdit.رقم_السجل + "' AND [الطائفة]=N'" + selectedIndividualToEdit.الطائفة + "' AND [بلدة النفوس] = N'" + selectedIndividualToEdit.بلدة_النفوس + "' AND [قضاء النفوس] = N'" + selectedIndividualToEdit.قضاء_النفوس + "'",
                                    IndividualID: selectedIndividualToEdit.ID,
                                    FullName: selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة
                                }
                            }
                            else {
                                updateItem = {
                                    previousValue: $(this).attr("prev-value"),
                                    newValue: $(this).val(),
                                    columnName: $(this).attr("data-value"),
                                    updateHash: "[" + $(this).attr("data-value") + "] = " + $(this).val() + "",
                                    IndividualID: selectedIndividualToEdit.ID,
                                    FullName: selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة
                                }
                            }

                            updateList.push(updateItem);
                        }

                    }
                }
            });

            $('#IndividualForm input[type="radio"]:checked').filter(function () {
                if ($(this).length > 0) {
                    if ($(this).attr("data-value") != undefined && listFields.indexOf($(this).attr("data-value")) == -1)
                        updateHash += " [" + $(this).attr("data-value") + "] = N'" + $(this).val() + "' , ";
                }

            });

            $('#IndividualForm select').filter(function () {
                //
                var name = $(this).attr("data-value");
                var dataValue = $(this).val();
                if ($(this).length > 0 && $(this).id != "txt_FullDescription" && $(this).attr("data-value") != undefined) {
                    if (listFields.indexOf($(this).attr("data-value")) == -1) {
                        if ($(this).val() != $(this).attr("prev-value") && $(this).val() != "") {
                            if (name == "الانتماء_السياسي_group_") {
                                updateHash += " [الانتماء السياسي(group)] = N'" + dataValue + "' , ";
                            }
                            else if (name == "تاريخ_الولادة__يوم_شهر_") {
                                updateHash += " [تاريخ الولادة (يوم شهر)] = N'" + dataValue + "' , ";
                            }
                            else if (name == "الاولاد_دون_21__details_") {
                                updateHash += " [الاولاد دون 21 (details)] = N'" + dataValue + "' , ";
                            }
                            else if (name == "مؤثر__influencer___".trim()) {
                                updateHash += " [مؤثر (influencer)  ] = N'" + dataValue + "' , ";
                            }
                            else {
                                updateHash += " [" + name + "] = N'" + dataValue + "' , ";
                            }


                            //updateHash += " [" + $(this).attr("data-value") + "] = N'" + $(this).val() + "' , ";
                        }
                    }
                    else {
                        if ($(this).val() != $(this).attr("prev-value") && $(this).val() != "" && dataValue != null) { //Edit By Hussein

                            if ($(this).attr("data-value") == "مفتاح") {
                                updateItem = {
                                    previousValue: $(this).attr("prev-value"),
                                    newValue: $(this).val(),
                                    columnName: $(this).attr("data-value"),
                                    updateHash: "[" + $(this).attr("data-value") + "] = " + $(this).val() + " where [رقم السجل] = N'" + selectedIndividualToEdit.رقم_السجل + "' AND [الطائفة]=N'" + selectedIndividualToEdit.الطائفة + "' AND [بلدة النفوس] = N'" + selectedIndividualToEdit.بلدة_النفوس + "'",
                                    IndividualID: selectedIndividualToEdit.ID,
                                    FullName: selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة
                                }
                            }
                            else {
                                updateItem = {
                                    previousValue: $(this).attr("prev-value"),
                                    newValue: $(this).val(),
                                    columnName: $(this).attr("data-value"),
                                    updateHash: "[" + $(this).attr("data-value") + "] = " + $(this).val() + "",
                                    IndividualID: selectedIndividualToEdit.ID,
                                    FullName: selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة
                                }
                            }


                            updateList.push(updateItem);
                        }


                    }
                }

                //var name = $(this).attr("data-value");
                //var dataValue = $(this).val();
                //if ($(this).attr("data-value") != undefined && listFields.indexOf($(this).attr("data-value")) == -1) {


                //    if (dataValue == null || dataValue == 'null')
                //        dataValue = '';
                //    if (dataValue != '') {


                //        if (name == "الانتماء_السياسي_group_") {
                //            updateHash += " [الانتماء السياسي(group)] = N'" + dataValue + "' , ";
                //        }
                //        else if (name == "تاريخ_الولادة__يوم_شهر_") {
                //            updateHash += " [تاريخ الولادة (يوم شهر)] = N'" + dataValue + "' , ";
                //        }
                //        else if (name == "الاولاد_دون_21__details_") {
                //            updateHash += " [الاولاد دون 21 (details)] = N'" + dataValue + "' , ";
                //        }
                //        else if (name == "مؤثر__influencer___".trim()) {
                //            updateHash += " [مؤثر (influencer)  ] = N'" + dataValue + "' , ";
                //        }
                //        else {
                //            updateHash += " [" + name + "] = N'" + dataValue + "' , ";
                //        }
                //    }
                //}


                //updateHash += " [" + $(this).attr("data-value") + "] = N''" + $(this).val() + "'' , ";
            });

            var lastIndex = updateHash.lastIndexOf(",");

            updateHash = updateHash.substring(0, lastIndex);

            //updateHash += " where ID=''" + selectedIndividualToEdit.ID + "''";
            individualID = selectedIndividualToEdit.ID;
            $.each(updateList, function (updateIndex, updateValue) {

                var cName = updateValue.columnName;
                $.ajax({
                    url: '@Url.Action("GetGroupName", "PMDashboard")',
                    dataType: 'json',
                    type: 'Post',
                    async: false,
                    data: {
                        individualID: individualID,
                        Field: cName
                    },
                    success: function (data) {
                        console.log(data);
                        if (data.length > 0) {
                            $.each(data, function (index, value) {
                                console.log(value);
                                //if (cName.replace('_', ' ') == value.OwnFields || value.OwnFields.indexOf(cName) != -1) { Edi By Hussein
                                $.ajax({
                                    url: '@Url.Action("CreateRequest", "PMDashboard")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        requestedCreatedByUser: '@User.Identity.Name',
                                        requestedFromUser: value,
                                        ActionName: "EditIndividual",
                                        requestDate: formatDate(new Date()),
                                        requestSeen: "0",
                                        requestCompleted: "0",
                                        individualSelected: individualID,
                                        actionTitle: '@User.Identity.Name wants to edit ' + updateValue.columnName + ' IN' + updateValue.FullName + ' From ' + updateValue.previousValue + ' to ' + updateValue.newValue,
                                        actionComment: updateValue.updateHash
                                    },
                                    success: function (response) {
                                     
                                    },
                                });

                            });
                        }

                        else {

                            $.ajax({
                                url: '@Url.Action("ApproveEditIndividual", "PMDashboard")',
                                dataType: 'json',
                                type: 'GET',
                                data: {
                                    columnsStatement: updateValue.updateHash,
                                    individualID: individualID,
                                },
                                success: function (data) {

                                }
                            });

                            //alert("no dataowner");
                        }






                        //ApproveEditIndividual(string columnsStatement, string individualID)

                    }
                });
            });

                    if (updateHash != "") {
                        console.log("updatehash");
                $.ajax({
                    url: '@Url.Action("UpdateIndividual", "PMDashboard")',
                    dataType: 'json',
                    type: 'Post',
                    data: {
                        updateHash: updateHash,
                        individualID: individualID,
                    },
                    success: function (data) {
                        updateHash = "";
                        bootbox.alert("Individual Update!");
                    }
                });
            }
                    else {
                        console.log("updatehash");
                bootbox.alert("Individual Update!");

            }


                       }
            });


            setTimeout(
   function () {
       $("#closeindividualmodal").click();

   }, 3000);

        });



        $("#btnAddChild").click(function (e) {
            e.preventDefault();
            ChildrenTable.row.add([
              '<a class="btn btn-info" onclick="deletechildren(this)"> <span class="glyphicon glyphicon-trash"></span> </a>  ',
              '<input  type="text"  class="form-control Assign"/>',
              '<input  type="text"  class="form-control hobbies"/>',
              '<input  type="text"  class="form-control studying"/>',
              '<input  type="text"  class="form-control birth-date datepicker"/>',
              '<input  type="text" class="form-group age" />',
              '<select class="form-group childrensex"> <option>Male</option> <option>Female</option></select>',
              '<input type="text" class="form-group childrenname" />'
            ]).draw(false);


            $('.datepicker').datetimepicker({
                format: 'YYYY',
            });


        });


        (function () {

        })();


        var previous = "";
        $(document).ready(function () {

            $("#moftah_txt").prop('disabled', true);
            $("#mounakheb_txt").prop('disabled', true);
            var actionDescription = new Array();

            @{
        List<GetActionByUsers_Result> actions = new List<GetActionByUsers_Result>();
        actions = ViewData["Individual Management"] as List<GetActionByUsers_Result>;

        foreach(var item in actions)
        {

            <text>
            actionDescription.push('@item.Description');
            </text>

        }


        }
            for (var i = 0; i < actionDescription.length; i++) {
                if (actionDescription[i] == "منخب") {

                    $("#mounakheb_txt").prop('disabled', false);
                }
                else if (actionDescription[i] == "مفتاح") {
                    $("#moftah_txt").prop('disabled', false);

                }
            }
        })

        //$("#IndividualForm input[type='text']").focus(function () {
        //    // Store the current value on focus, before it changes

        //    console.log($(this).attr("data-value"));
        //    previous = this.value;
        //}).change(function () {

        //    if (this.value != "" && previous != this.value && previous != undefined) {

        //        if (listFields.indexOf($(this).attr("data-value")) != -1) {

        //            individualID = selectedIndividualToEdit.ID;
        //            //selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة +
        //            updateItem = {
        //                previousValue: previous,
        //                newValue: this.value,
        //                columnName: $(this).attr("data-value"),
        //                updateHash: "[" + $(this).attr("data-value") + "] = " + this.value + "",
        //                IndividualID: selectedIndividualToEdit.ID,
        //                FullName: selectedIndividualToEdit.الاسم + "   " + selectedIndividualToEdit.اسم_الأب + "   " + selectedIndividualToEdit.الشهرة + " " + selectedIndividualToEdit.الطائفة  + " " + selectedIndividualToEdit.رقم_السجل
        //            }

        //            updateList.push(updateItem);

        //        }
        //    }

        //});

        $(document).on('dp.change', '.birth-date', function () {
            var year = new Date().getFullYear();
            var age = year - this.value;
            if (year === age) {
                $(this).parents('tr').find('.age').val('');

            }
            else {
                $(this).parents('tr').find('.age').val(age);
            }
        })

        $(document).on('keyup', '.age', function () {
            var year = new Date().getFullYear();
            var age = year - this.value;
            if (year === age) {
                $(this).parents('tr').find('.birth-date').val('');
            }
            else {
                $(this).parents('tr').find('.birth-date').val(age);
            }
        })

        function deletechildren(childrenrow) {
            ChildrenTable
           .row($(childrenrow).parents('tr'))
           .remove()
           .draw();
        }


    </script>
