﻿
@{
    ViewBag.Title = "_AddNonVoter";
    Layout = null;
}

<style>
    .font-green {
        color: #000000 !important;
    }
    .row{
             margin-left: 0px !important; 
            margin-right: 0px !important; 
    }
</style>




<body>
    <div class="row" id="addindividual">

        @*<h3 class="font-green">Company Information</h3>*@


        <div class="col-lg-3" style="float:right;margin-top:10px;width:26%">
            <label style="float:right"> :قضاء النفوس </label>

            <select id="kadaa_txt" data-value="قضاء_النفوس" class="form-control" style="width:65% !important;float:right" type="text"></select>

        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :بلدة النفوس </label>
            <select id="baldat_noufous_txt" data-value="بلدة_النفوس" class="form-control" style="width:65% !important;" type="text"></select>

        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :رقم السجل </label>
            <input id="sejel_text" value="" class="form-control" data-value="رقم_السجل" style="width:65%" type="text" placeholder="" name="" />
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;clear:both">
            <label style="float:right"> :الاسم </label>
            <input id="first_name_txt" data-value="الاسم" value="" class="form-control" style="width:65%" type="text" placeholder="" name="" />
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :اسم الأب </label>
            <input id="father_name_txt" value="" data-value="اسم_الأب" class="form-control" style="width:65%" type="text" placeholder="" name="" />
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :الشهرة </label>
            <input id="family_name_txt" data-value="الشهرة" value="" class="form-control" style="width:65%" type="text" placeholder="" name="" />
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;clear:both">
            <label style="float:right"> :اسم الأم </label>
            <input id="mother_name_txt" data-value="اسم_الام" value="" class="form-control" style="width:65%" type="text" placeholder="" name="" />
        </div>


        @*<div class="col-lg-3" style="float:right;margin-top:10px">
                <label style="float:right"> :العائلة </label>
                <input id="" value="" class="form-control" style="width:65%" type="text" placeholder="" name="" />
            </div>*@

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :قضاء السكن </label>

            <select id="lives_in_kadaa_txt" data-value="قضاء_السكن" class="form-control" style="width:65% !important;" type="text"></select>

        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :بلدة السكن </label>
            <select id="lives_in_balda_txt" data-value="بلدة_السكن" class="form-control" style="width:65% !important;" type="text"></select>
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;clear:both">
            <label style="float:right"> :الهاتف </label>
            <input id="Phonetext" data-value="الهاتف" value="" class="form-control phone_text" style="width:65%" type="text" placeholder="" name="" />
        </div>

        <div class="col-lg-3" style="float:right;margin-top:10px;">
            <label style="float:right"> :المهنة </label>
            <input id="almehna" value="" data-value="المهنة" class="form-control" style="width:65%" type="text" placeholder="" name="" />
        </div>



    </div>
    <div class="row">
        @*<button type="submit" id="submit_individual" class="btn btn-success uppercase " style="margin-top: 23px;">Submit</button>*@
        <button type="submit" id="save_individual" style="margin-top: 23px;" class="btn btn-success uppercase ">Save</button>
    </div>




    <script src="@Url.Content("~/Scripts/Metronic/Datatables/datatable.js")" type="text/javascript"> </script>
</body>




