﻿@using CallCenterDashboard1.Models
@{
    ViewBag.Title = "Individuals";
    Layout = null;
}

<h2 style="margin-top:0px">Individuals</h2>


<div>
    <ul class="nav nav-tabs">

        <li id="add_individual_tab" class="active">
            @*<a data-toggle="tab">
                @if (ViewBag.IndividualID == "0")
                {
                    <text>
                        Add NonVoters
                    </text>
                }
                else
                {
                    <text>
                        Add Individuals
                    </text>
                }

            </a>*@
        </li>
        @*<li id="view_individual_tab">
            <a data-toggle="tab">
                @if (ViewBag.IndividualID == "0")
                {
                    <text>
                        View NonVoters
                    </text>
                }
                else
                {
                    <text>
                        View NonVoters
                    </text>
                }

            </a>
        </li>*@
    </ul>
</div>


<div id="addindividual">
    @Html.Action("AddIndividual", "PMDashboard", new { id = ViewBag.IndividualID })
</div>

@*<div id="allIndividual" style="display:none">
    @Html.Action("AllIndividual", "Individuals", new { id = ViewBag.IndividualID })
</div>*@

<script>
    var table;

    //$('#BirthOfDate').datepicker({
    //    changeMonth: true,
    //    changeDay: true,
    //    showButtonPanel: true,
    //    dateFormat: 'mm-dd'
    //});
   

    $(document).ready(function () {

        setTimeout(function () {

            var individualID = '@ViewBag.IndividualID';

            var HashCode = "AND ID = N'" + individualID + "'"
            if (individualID != "")
            {
                var ajaxSource = '@Url.Action("getIndividualsDashBoardByHash", "PMDashboard")' + '/?userHash=' + HashCode;

                $.ajax({
                    type: "GET",
                    cache: false,
                    url: ajaxSource,
                    dataType: "json",
                    success: function (res) {
                        for (var i in res.data) {
                            var key = i;
                            var val = res.data[i];
                            for (var j in val) {
                                var sub_key = j;
                                var sub_val = val[j];

                                var selectedOrNotRadioButton = val[j] == null ? "NA" : val[j];

                                console.log("val[" + j + "] = " + val[j]);
                                //console.log("selectedOrNotRadioButton" + j + " = " + selectedOrNotRadioButton.toLowerCase());
                                
                                //if (val[j] != null) {
                                //    selectedOrNotRadioButton = val[j].length > 0 ? "true" : val[j];
                                //}

                                $('*[data-value="' + sub_key + '"][value="' + selectedOrNotRadioButton + '"]').attr('checked', 'checked');

                                //$('[data-value="تأثير_المال"]').val('True').trigger('change');
                            }
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        console.log("error radio button")
                    }
                });


            }
       
        }, 2000);

        

    });


    $("#view_individual_tab").click(function () {
        $("#allIndividual").css("display", "block");
        $("#addindividual").css("display", "none");

    });

    $("#add_individual_tab").click(function () {
        $("#addindividual").css("display", "block");
        $("#allIndividual").css("display", "none");

    });


    var esem;
    var kada2_noufous;
    var baldat_noufous;
    var kada2_sakan;
    var baldat_sakan;
    var alhay;
    var almehna;
    var aldakhel;
    var alintima2_alsyasi;
    var altaswit;
    var wade3alenti5abi;
    $('#allindividuals tbody').on('click', 'tr', function () {
        var data = table.row(this).data();
        esem = data[1];
        kada2_noufous = data[2];
        baldat_noufous = data[3];
        kada2_sakan = data[4];
        baldat_sakan = data[5];
        alhay = data[6];
        almehna = data[7];
        aldakhel = data[8];
        alintima2_alsyasi = data[9];
        altaswit = data[10];
        wade3alenti5abi = data[11];
    });

    $("#edit_individual").click(function () {
        $("#individualname").val(esem);
        $("#kadaa_al_noufous").val(kada2_noufous);
        $("#baldat_alnoufous").val(baldat_noufous);
        $("#kadaa_alsakan").val(kada2_sakan);
        $("#baldat_alsakan").val(baldat_sakan);
        $("#alhay").val(alhay);
        $("#almehna").val(almehna);
        $("#aldakhel").val(aldakhel);
        $("#alintima2_alsyasi").val(alintima2_alsyasi);
        $("#altaswit").val(altaswit);
        $("#alwade3_alinti5abi").val(wade3alenti5abi);
        $("#addindividual").css("display", "block");
        $("#allIndividual").css("display", "none");

        $("#save_individual").css("display", "block");
        $("#submit_individual").css("display", "none");
    });


</script>

@*Load Indivdual Texts*@
<script>
    var selectedIndividualToEdit;
    var parentSelect;
    $(document).ready(function () {
        //selectedIndividualToEdit = JSON.parse(sessionStorage.getItem('selectedIndividualToEdit'));
        //if (selectedIndividualToEdit != "") {


        //    $("#individualname").val(selectedIndividualToEdit.الاسم);
        //    $("#fathername").val(selectedIndividualToEdit.اسم_الأب);
        //    $("#chohra").val(selectedIndividualToEdit.الشهرة);
        //    $("#kadaa_al_noufous").val(selectedIndividualToEdit.قضاء_النفوس);
        //    $("#baldat_alnoufous").val(selectedIndividualToEdit.بلدة_النفوس);
        //    $("#mothername").val(selectedIndividualToEdit.اسم_الام);
        //    $("#rakemsejel").val(selectedIndividualToEdit.رقم_السجل);
        //    //$("#chohra").val(selectedIndividualToEdit.رقم_السجل);
        //    $("#alhay").val(selectedIndividualToEdit.الحي);
        //    $("#khelyawi").val(selectedIndividualToEdit.الخليوي);
        //    $("#alintima2_alsyasi").val(selectedIndividualToEdit.الانتماء_السياسي);
        //    $("#ehtimamat").val(selectedIndividualToEdit.الاهتمامات);
        //    $("#hatef").val(selectedIndividualToEdit.الهاتف);
        //    $("#aldakhel").val(selectedIndividualToEdit.الدخل);
        //    $("#familyname").val(selectedIndividualToEdit.العائلة);
        //    $("#almehna").val(selectedIndividualToEdit.المهنة);
        //    $("#hewayat").val(selectedIndividualToEdit.الهوايات);
        //    $("#syaratnakel").val(selectedIndividualToEdit.استعمال_سيارته_للنقل);
        //    $("#baldat_alsakan").val(selectedIndividualToEdit.بلدة_السكن);
        //    $("#alwade3_alinti5abi").val(selectedIndividualToEdit.الوضع_الانتخابي);
        //    $("#nakel").val(selectedIndividualToEdit.بحاجة_لنقل);
        //    $("#buildingname").val(selectedIndividualToEdit.بناية);
        //    //$("#buildingname").val(selectedIndividualToEdit.بلد_السفر);
        //    $("#moulahazat").val(selectedIndividualToEdit.ملاحظات);
        //    $("#kadaa_alsakan").val(selectedIndividualToEdit.قضاء_السكن);
        //    $("#mouftah").val(selectedIndividualToEdit.مفتاح);
        //    $("#moultazim").val(selectedIndividualToEdit.ملتزم);
        //    $("#mandoubhali").val(selectedIndividualToEdit.مندوب_حالي);
        //    $("#mandoubsabek").val(selectedIndividualToEdit.مندوب_سابق);
        //    $("#cstreetname").val(selectedIndividualToEdit.شارع);
        //    $("#altaswit").val(selectedIndividualToEdit.التصويت);
        //    $("#khadamatnumber").val(selectedIndividualToEdit.عدد_الخدمات);
        //    $("#birthdaydate").val(selectedIndividualToEdit.تاريخ_الولادة__يوم_شهر_);
        //    $("#jam3ya2").val(selectedIndividualToEdit.جمعية_2);
        //    $("#jam3ya1").val(selectedIndividualToEdit.جمعية_1);
        //    $("#socalmedia").val(selectedIndividualToEdit.has_Instagram_Account);
        //    $("#mou2aser").val(selectedIndividualToEdit.مؤثر__influencer___);
        //    $("#khelyawi").val(selectedIndividualToEdit.الخليوي);



        //    //selectedIndividualToEdit.Area_of_influence
        //    //selectedIndividualToEdit.CheckBox
        //    //selectedIndividualToEdit.Has_Facebook_Account
        //    //selectedIndividualToEdit.Has_Twitter_Account
        //    //selectedIndividualToEdit.Hash
        //    //selectedIndividualToEdit.ID
        //    //selectedIndividualToEdit.Voted2009
        //    //selectedIndividualToEdit.addr_abroad
        //    //selectedIndividualToEdit.country
        //    //selectedIndividualToEdit.has_phone_number_abroad
        //    //selectedIndividualToEdit.mobile_abroad
        //    //selectedIndividualToEdit.mohafaza
        //    //selectedIndividualToEdit.phone_abroad
        //    //selectedIndividualToEdit.الانتماء_السياسي_group_
        //    //selectedIndividualToEdit.الاولاد_دون_21__details_
        //    //selectedIndividualToEdit.الجنس
        //    //selectedIndividualToEdit.انتخب_2009
        //    //selectedIndividualToEdit.انتخب_2010
        //    //selectedIndividualToEdit.انتخب_2016
        //    //selectedIndividualToEdit.بريد_الكتروني
        //    //selectedIndividualToEdit.تأثير_المال
        //    //selectedIndividualToEdit.جنس_الاولاد
        //    //selectedIndividualToEdit.سنة_الولادة
        //}
        //sessionStorage.setItem('selectedIndividualToEdit', "");

    });

</script>
