﻿
@{
    ViewBag.Title = "IndividualTable";
    Layout = null;

}

@{
    List<SelectListItem> callusers = ViewData["callusers"] as List<SelectListItem>;
}

<div class="modal fade" id="call_modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="">
        <div class="modal-content" style="margin-top:70%;width:650px">
            <div class="modal-header">
                <button type="button" class="close" id="" data-dismiss="modal" aria-hidden="true"></button>
                <h3 class="modal-title font-green"> Request a Call  </h3>
                <hr />
                <div class="portlet-title pull-right">
                    <div class="caption">
                        <span id="individualinfo" class="pull-right" style="color:#32c5d2!important;font-size:20px">
                            <i class="fa fa-male pull-right" aria-hidden="true"></i>

                        </span>
                    </div>
                </div>

            </div>
            <div class="modal-body">


                <div class="row">
                    <div class="form-group col-lg-3">
                        <p class="font-green" style="">Request a call from :</p>
                    </div>

                    @Html.DropDownList("callusers", callusers, new { @style = "width:400px;margin-top:10px;" })
                
                </div>
                <div class="row">
                    <div class="form-group col-lg-3">
                        <p class="font-green" style="">Call purpose:</p>
                    </div>

                    <div class="form-group col-lg-9 ">

                        <textarea id="callPurpose_txt" class="inputcolor form-control placeholder-no-fix"> </textarea>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="closemodal" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green" id="createCallRequest">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="individualsDiv" class="row">
    <div class="portlet light col-md-12" >
        <div class="portlet-title">
            <div class="caption pull-left">
                <i class="icon-bar-chart font-green-sharp hide"></i>
                <span id="individual_view" style="cursor: pointer;" class="caption-subject font-green-sharp bold uppercase">Individuals</span> &nbsp;
                <span id="filterStatusIndividuals" class="caption-helper">No filters set</span>
                <i id="individuals_btn" style="cursor: pointer;" class="fa fa-angle-up toggleFunction"></i> 
            </div>
            <div class="caption pull-left">
                <i id="exportIndividualsButton" class="fa fa-file-excel-o" style="cursor:pointer;margin-left:20px;font-size:2rem;">&nbsp;Export</i>
                @*<i id="printIndividualsButton" class="fa fa-print fa-3x" style="cursor:pointer;margin-left:10px;font-size:2rem;">&nbsp;Print</i>*@

                <div class="btn-group pull-right open" style="margin-top:4px">
                    <i id="printIndividualsButton" class="fa fa-print fa-3x dropdown-toggle" style="cursor:pointer;margin-left:10px;font-size:2rem;" data-toggle="dropdown" aria-expanded="true">
                        Print
                        <i class="fa fa-angle-down"></i>
                    </i>
                    <ul class="dropdown-menu pull-right">
                        <li id="printa4">
                            <a> Print A4 </a>
                        </li>
                        <li id="printa3">
                            <a> Print A3  </a>
                        </li>
                        <li id="printempty">
                            <a> Print Empty A4  </a>
                        </li>
                        <li id="printemptya3">
                            <a> Print Empty A3  </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="actions">
                <i id="expandCollapseButton" class="fa fa-expand pull-right " aria-hidden="true" style="cursor:pointer;margin-top:8px;font-size:2rem;display:none"></i>

                <span class="pull-right caption-subject bold" style="margin-top:5px;margin-right:20px;font-size:2rem;font-family:'Droid Arabic Kufi', serif;">لائحة البحث</span>

                <span id="noIndividualsSelectedAlertMessage" class="pull-right" style="color:red;margin-top:5px;margin-right:20px;font-size:2rem;display:none;">No Individual Selected</span>
            </div>
        </div>

        <div class="portlet-body">
            @Html.Action("IndividualsPartialView", "PMDashboard")
        </div>
    </div>

</div>


@*<link href="@Url.Content("~/Content/ladda-themeless.min.css")" rel="stylesheet" />

<script src="@Url.Content("~/Scripts/spin.min.js")" type="text/javascript"> </script>*@
@*<script src="@Url.Content("~/Scripts/ladda.min.js")" type="text/javascript"> </script>*@

@*<script>
    Ladda.bind('#filtergroup_individual');
</script>*@

<script>
    $("#callusers").select2();


    var individualtable;
    var editorIndividual;
    var nEditing = null;
    var nNew = false;
    var groupName;
    $("#userGroups").on('change', function () {
        groupName = $("#userGroups :selected").text();

        // individualtable.destroy();

        LoadUserTable(groupName);
        //individualtable.ajax.reload();
    });

    function LoadUserTable(groupName) {

        if (individualtable != undefined) {
            individualtable.clear();
            individualtable.draw();
            individualtable.destroy();
        }

        @*var ajaxSource = '@Url.Action("getIndividuals", "PMDashboard")' + '/?groupName=' + groupName;*@

        @*InitializeIndividualDataTable(ajaxSource, 'dashboard', decodeURIComponent('@Session["HashCode"]'), hashForCountInt);*@

        var ajaxSource = '@Url.Action("GetIndividualFamily", "PMDashboard")' + '/?individualid=' + '@ViewBag.IndividualID';

        InitializeFamilyIndividualDataTable(ajaxSource, 'dashboard', decodeURIComponent('@Session["HashCode"]'), hashForCountInt);
    }




    function restoreRow(oTable, nRow) {
        var aData = oTable.fnGetData(nRow);
        var jqTds = $('>td', nRow);

        for (var i = 0, iLen = jqTds.length; i < iLen; i++) {
            oTable.fnUpdate(aData[i], nRow, i, false);
        }

        oTable.fnDraw();
    }

    function editRow(oTable, nRow) {

        var aData = oTable.fnGetData(nRow);

        var jqTds = $('>td', nRow);

        jqTds[7].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[7] + '">';
        jqTds[9].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[9] + '">';
        jqTds[10].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[10] + '">';
        jqTds[11].innerHTML = '<input type="text" class="form-control input-small" value="' + aData[11] + '">';
        jqTds[51].innerHTML = '<a class="edit" href="">Save</a>';
        jqTds[52].innerHTML = '<a class="cancel" href="">Cancel</a>';
    }

    function saveRow(oTable, nRow) {
        var jqInputs = $('input', nRow);
        oTable.fnUpdate(jqInputs[7].value, nRow, 7, false);
        oTable.fnUpdate(jqInputs[9].value, nRow, 9, false);
        oTable.fnUpdate(jqInputs[10].value, nRow, 10, false);
        oTable.fnUpdate(jqInputs[11].value, nRow, 11, false);
        oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 51, false);

        oTable.fnDraw();
    }

    function cancelEditRow(oTable, nRow) {
        var jqInputs = $('input', nRow);
        oTable.fnUpdate(jqInputs[7].value, nRow, 7, false);
        oTable.fnUpdate(jqInputs[9].value, nRow, 9, false);
        oTable.fnUpdate(jqInputs[10].value, nRow, 10, false);
        oTable.fnUpdate(jqInputs[11].value, nRow, 11, false);
        oTable.fnUpdate('<a class="edit" href="">Edit</a>', nRow, 51, false);
        oTable.fnDraw();
    }


    jQuery(document).ready(function () {


        @*var url = "@Url.Action("Inbox", "Home")";

        AppInbox.init(url);*@

        // DataTable

        LoadUserTable(null);

        function selectallcheckbox(checkbox) {
            if (checkbox.checked) {
                $("#individualsDatatable tbody tr").addClass("selected");
                table.draw();
            }
            else {
                $("#individualsDatatable tbody tr").removeClass("selected");
                table.draw();
            }
        }
    });




</script>



@{
    List<SelectListItem> userKadaa = ViewData["Kadaa"] as List<SelectListItem>;

}



<script>


    $(document).ready(function () {
        $('body').on('show', '.modal', function () {
            setTimeout(function () {
                $("#edit_calls").css({ 'margin-top': '-300px' });
                $("#call_modal").css({ 'margin-top': '-300px' });

                $(".modal-content").css({ 'margin-top': '0px' });
            }, 200);

        });
    });



    $(".toggleFunction").click(function () {

        if ($(this).hasClass("fa-angle-down") === true) {
            $(this).addClass('fa-angle-up').removeClass('fa-angle-down');
        }

        else {
            $(this).addClass('fa-angle-down').removeClass('fa-angle-up');
        }

        $(this).parent().parent().parent().find(".portlet-body").toggle("slow");

    });


    $("#inbox_btn").click(function () {
        if ($("#inbox_btn").hasClass("fa-plus-circle") === true) {
            $('#inbox_btn').addClass('fa-minus-circle').removeClass('fa-plus-circle');
        }

        else {
            $('#inbox_btn').addClass('fa-plus-circle').removeClass('fa-minus-circle');
        }
        $("#inbox-div").toggle("slow");

    });


    $(document).on("click", "#btn_editindividual", function () {

       var Row = individualtable.rows('.selected').data();
       var selectedRow = Row[0];
       console.log(selectedRow.ID);

        $("#closefamilymodal").click();


        setTimeout(function () {
         $("#editIndividualModalBody").load('@Url.Action("Individuals", "PMDashboard")' + '?id=' + selectedRow.ID);
            $('#editIndividualModalContainer').modal('show');
        }, 3000);

    });

    var editor;
    function EditIndTable(element) {

        var selectedRow = individualtable.row({ selected: true }).data();
        if (individualtable.rows({ selected: true }).count() != 1) {
            bootbox.alert("Only 1 Individual must be selected!");

            return false;
        }
        else {
            selectedIndividual = selectedRow;
            console.log(individualtable.row({ selected: true }))
        }
    }


    //Edit By Hussein
    var selectedRowIndex;
    var selectedRowValues;
    var alreadySelectedRow = false;

    //Edit By Hussein

    //Edit By Hussein
    function GetFromIndividuals(select, where, selectvalue, id) {
        $.ajax({
            url: '@Url.Action("getFromIndividuals", "PMDashboard")',
            dataType: 'json',

            data: {
                selectVariable: select,
                whereVariable: where,
                resultVariable: selectvalue
            },
            success: function (data) {
                if (select == "قضاء السكن") {
                    var html = "<select onchange='getBaldaquickedit(this)' class='form-control mySelect'>";
                } else {
                    var html = "<select class='form-control mySelect'>";
                }




                $.each(data, function (index, value) {

                    html += "<option value='" + value + "'>" + value + "</option>";
                });
                html += "</select>"
                $(id).html(html);
                //$(id).find('select').select2();
                $(id).find('select').val(selectvalue).trigger('change');;


                return data;

            }
        });

    }

    var baldavalue = "";
    function GetFromIndividualsBalda(select, where, selectvalue, id, balda) {
        baldavalue = balda;
        $.ajax({
            url: '@Url.Action("getFromIndividuals", "PMDashboard")',
            dataType: 'json',

            data: {
                selectVariable: select,
                whereVariable: where,
                resultVariable: selectvalue
            },
            success: function (data) {
                var html = "<select id='baldaselec2' class='form-control mySelect'>";
                $.each(data, function (index, value) {

                    html += "<option value='" + value + "'>" + value + "</option>";
                });
                html += "</select>"
                $(id).html(html);
                //$(id).find('select').select2();
                $(id).find('select').val(balda).trigger('change');

                return data;

            }
        });
    }

    function getBaldaquickedit(select) {
        $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "بلدة السكن", whereVariable: "قضاء السكن", resultVariable: select.value }).done(function (data) {
            $('#baldaselec2').empty();
            $.each(data, function (index, value) {
                $('#baldaselec2').append('<option value="' + value + '">' + value + '</option>');
            });
            $('#baldaselec2').val(baldavalue).trigger('change');
            baldavalue = "";
        });

    }



    $('#callstatus').on('change', function () {
        if (this.value != "Wrong number") {
            $("#callbackreminder").show("slow");
        }

        else {
            $("#callbackreminder").hide("slow");

        }
    });

    $('#editCallStatus').on('change', function () {

        //if (this.value != "Done") {
        //    $("#commentdiv").hide("slow");
        //}
        //else {
        //    $("#commentdiv").show("slow");

        //}
    });


    $(document).on("click", "#individualsDatatable tbody tr", function () {

        var Row = individualtable.rows('.selected').data();
        console.log(Row.length);

        if (Row.length == 0) {

            $("#exportIndividualsButton").text(" Export");
            $("#printIndividualsButton").text(" Print");
        }

        else {
            $("#exportIndividualsButton").text(" Export selected");
            $("#printIndividualsButton").text(" Print selected");

        }
    });


</script>