﻿
@{
    ViewBag.Title = "RequestVisit";
    Layout = null;


    List<SelectListItem> allUsers = ViewData["allUsers"] as List<SelectListItem>;
    List<SelectListItem> managerUsers = ViewData["managerUsers"] as List<SelectListItem>;
    List<SelectListItem> visitsusers = ViewData["visitsusers"] as List<SelectListItem>;
    List<SelectListItem> callusers = ViewData["callusers"] as List<SelectListItem>;


}

<link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<!-- END GLOBAL MANDATORY STYLES -->
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")" rel="stylesheet" type="text/css" />
@*<link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2.min.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css")" rel="stylesheet" type="text/css" />

@*<link href="@Url.Content("~/Content/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css")" rel="stylesheet" type="text/css" />*@
@*<link href="@Url.Content("~/Content/assets/global/plugins/select2/css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
<!-- BEGIN THEME GLOBAL STYLES -->
<link href="@Url.Content("~/Content/assets/global/css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/css/plugins.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME GLOBAL STYLES -->
<!-- BEGIN THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/layout.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/themes/blue.min.css")" rel="stylesheet" type="text/css" id="style_color" />
<link href="@Url.Content("~/Content/assets/layouts/layout2/css/custom.min.css")" rel="stylesheet" type="text/css" />
<!-- END THEME LAYOUT STYLES -->
<link href="@Url.Content("~/Content/assets/apps/css/todo-2.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/apps/css/inbox.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/rating/rating.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/assets/morris.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("http://fonts.googleapis.com/earlyaccess/droidarabickufi.css")" rel="stylesheet" type="text/css" />


<link rel="shortcut icon" href="favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
@*<link rel="manifest" href="~/favicons/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">*@

@*<!--[if lt IE 9]>
     <script src="@Url.Content("~/Content/assets/global/plugins/respond.min.js")"></script>
     <script src="@Url.Content("~/Content/assets/global/plugins/excanvas.min.js")"></script>
     <script src="@Url.Content("~/Content/assets/global/plugins/ie8.fix.min.js")"></script>
     <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/morris/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/morris/raphael-min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/global/scripts/app.min.js")" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Select2/select2.full.min.js")" type="text/javascript"> </script>

    <script src="@Url.Content("~/Content/assets/pages/scripts/dashboard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/pages/scripts/ui-extended-modals.min.js")" type="text/javascript"></script>

    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/layouts/layout2/scripts/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/layouts/layout2/scripts/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/layouts/global/scripts/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/layouts/global/scripts/quick-nav.min.js")" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/apps/scripts/inbox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/apps/scripts/todo-2.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Metronic/Datatables/datatable.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Content/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/apps/scripts/calendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/rating/rating.js")" type="text/javascript"></script>*@
@*<script src="~/Content/moment-with-locales.js"></script>
<script src="~/Content/bootstrap-datetimepicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />*@
<style>
    table.dataTable tr.highlight {
        background-color: orange;
    }

    .modal-open .select2-dropdown {
        z-index: 0 !important;
    }
    label{
        color:black;
    }
</style>


<div class="modal fade" id="call_modal" tabindex="-1" aria-hidden="true" style="left:-182px; margin-top: -400px;">
    <div class="modal-dialog" style="">
        <div class="modal-content col-sm-10" style="margin-top:70%;width:850px;">
            <div class="modal-header col-md-12">
                <button type="button" class="close" id="" data-dismiss="modal" aria-hidden="true"></button>
                <span style="cursor: pointer;" class="caption-subject font-green-sharp bold uppercase">calls</span> &nbsp;
                <i class="fa fa-print fa-1x">&nbsp;Print</i>

                <button type="button" class="btn blue pull-right" disabled="disabled" style="padding:2px;margin-left: 10px;">View History</button>
                <button type="button" class="btn red pull-right" disabled="disabled" style="padding:2px;">Edit Profile</button>

            </div>
            <div class="modal-body col-md-12">

                <div class="row col-md-12">

                    <div class="col-md-1" style="margin-top:15px;">


                        <div class="col-md-6">
                            <div class="form-group pull-right" style="width:100%;">
                                <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group pull-right" style="width:100%;">
                                <span id="cellNumberB" style="font-size:10px"></span>

                            </div>
                        </div>
                    </div>



                    <div class="col-md-1" style="margin-top:15px;">


                        <div class="col-md-6">
                            <div class="form-group pull-right" style="width:100%;">
                                <i class="fa fa-phone fa-2x" aria-hidden="true"></i>


                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group pull-right" style="width:100%;">
                                <span id="phoneNumberB" style="font-size:10px"></span>

                            </div>
                        </div>

                    </div>

                    <div class="col-md-2">
                        <div class="form-group pull-right" style="width:100%;">
                            <label style="width: 100% !important; direction:rtl;" class="control-label">العائلة</label>
                            <input class="form-control mytextbox" style="width:100% !important;" type="text" disabled="disabled" id="3a2ilaTBB">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right" style="width:100%;">
                            <label style="width: 100% !important; direction:rtl;" class="control-label">الطائفة</label>
                            <input class="form-control mytextbox" style="width:100% !important;" type="text" disabled="disabled" id="taifaTBB">

                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right" style="width:100%;">
                            <label style="width: 100% !important; direction:rtl;" class="control-label">قضاء النفوس</label>
                            <input class="form-control mytextbox" style="width:100% !important;" type="text" disabled="disabled" id="kadaaTBB">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right" style="width:100%;">
                            <label style="width:100% !important; direction:rtl;" class="control-label">الشهرة</label>
                            <input class="form-control mytextbox" style="width:100% !important;" type="text" disabled="disabled" id="chouhraTBB">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group pull-right" style="width:100%;">
                            <label style="width:100%!important; direction:rtl;" class="control-label">الاسم</label>
                            <input class="form-control mytextbox" style="width:100% !important;" type="text" disabled="disabled" id="esemTBB">
                        </div>
                    </div>

                </div>

                <div>

                    <div class="row col-md-12" style="margin-top:20px;">



                        <div class="row col-md-6">
                            <div class="form-group">
                                <label style="width:100%!important;" class="control-label"><b>Request a call from</b></label>
                                @Html.DropDownList("callusers", callusers, new { @style = "width:400px;height:35px;" })
                            </div>

                        </div>

                        <div class="col-md-6" style="left: 50px;">
                            <div class="form-group pull-right" style="width:100%;">
                                <label style="width:100%!important;" class="control-label"><b>Call Purpose</b></label>
                                <input id="callPurpose_txt" class="form-control mytextbox" style="width:100% !important;" type="text">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer" style="border-top:0px !important">
                    <button type="button" class="btn green" id="createCallRequestfromvisit">Save</button>

                    <button type="button" id="closemodal" class="btn red" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>







<div style="width:100%; height:auto;background-color:#eef1f5">
    <div id="controlSection"  class="row">
        <div class="form-group">
            <label>Title</label>

            <input id="txt_Title" type="text" class="form-control" />
        </div>
        <div class="form-group" style="margin-top: 10px;">
            <label>Visit Type</label>
            <select id="visitType" class="form-control" style="width:428px;">
                @*<option value="Internal">Visit Type</option>*@
                <option value="Internal">Internal</option>
                <option value="External">External</option>
            </select>
        </div>

        <div id="from-user" class="form-group" style="margin-top: 10px;">

            <label>Request a visit from</label>

            <select id="requestVisitFromUser" class="form-control" style="width:428px;"></select>
            @*@Html.DropDownList("requestVisitFromUser", visitsusers, new { @style = "width:428px;" })*@
        </div>


        <div class="form-group" style="margin-top: 10px;">
            <label>Status</label>
            <select id="visitStatus" class="form-control" style="width:428px;">
                <option id="status1" value="Pending">Pending</option>
                <option id="status2" value="Approved" data-toggle="modal" data-target="#myModal">Approved</option>
                <option id="status3" value="Done">Done</option>
                <option id="status4" value="Declined">Declined</option>
            </select>

        </div>
        <div id="proposeddates">
            <label style="margin-top: 10px;">Date Proposed </label>
            <div class="form-group">

                <div class="input-group input-large" style="float:left">
                    <span class="input-group-addon"> from </span>
                    <input type="text" style="width:170px;z-index:0 !important" id="visitFrom" class="form-control datepicker" data-date-format="DD-MM-YYYY HH:mm:ss" name="from">
                    <span class="input-group-addon"> to </span>
                    <input type="text" style="width:170px;z-index:1 !important" id="visitTo" class="form-control datepicker" data-date-format="DD-MM-YYYY HH:mm:ss" name="to">

                </div>

            </div>

        </div>
        <br />
        <div class="form-group " style="margin-top:10px">
            <label>Note </label>
            <div class="input-group " style="">
                <input id="visit-note" type="text" style="width:428px" class="form-control" />
            </div>

        </div>

        <div id="approved-visit" class="form-group " style="margin-top:10px;display:none">
            <label>Date </label>
            <div class="input-group " style="">
                <input readonly id="visit-date" type="text" style="width:428px" class="form-control" />
            </div>
            <br />
            <label>Location </label>
            <div class="input-group " style="">
                <input readonly id="visit-location" type="text" style="width:428px" class="form-control" />
            </div>

        </div>

        <br />
        <label> Remove Date To</label>    <input type="checkbox" id="visitToDisable" />
        <br />
        @*<button id="createVisitRequest" class="btn green" style="margin-top:10px">Submit</button>
        <button id="updaterequest" class="btn green" style="margin-top:10px">Update</button>*@

    </div>

    <div id="tableSection" class="row" style="margin-top:10px;">
        <ul class="nav nav-tabs">
            <li class="active">
                <a id="inviteesTab" href="#inviteesTab_Content" data-toggle="tab">Invitees</a>
            </li>
            <li>
                <a id="individualsTab" href="#individualTab_Content" data-toggle="tab">
                    Individuals
                </a>
            </li>
            <li>
                <a id="usersTab" href="#usersTab_Content" data-toggle="tab">
                    Users
                </a>
            </li>
            <li>
                <a id="nonVotersTab" href="#nonVoters_Content" data-toggle="tab">
                    Non Voters
                </a>
            </li>
            <li id="generalNotTabLi">
                <a id="generalNoteTab" href="#generalNoteTab_Content" data-toggle="tab">
                    General Note
                </a>
            </li>
            <li disabled>
                <a id="indivNoteTab" href="#indivNoteTab_Content" data-toggle="tab">
                    Individual Notes
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="inviteesTab_Content" class="tab-pane active">
                <div id="" style="margin-left:35%;float: right;padding-bottom: 10px;">
                    <button class="btn" id="btn-clearhost" style="margin-left:10px;background-color: red"><i class="fa fa-user" aria-hidden="true" style="padding-right:5px; "></i>Clear Host</button>
                </div>

                <table class="table table-striped table-bordered table-hover" id="inviteesDatatable" style="float:left">

                    <thead>
                        <tr role="row" class="heading">
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Is Host</th>
                            <th>Attendance</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div id="individualTab_Content" class="tab-pane ">
                <div class="warning collapse" id="warning" style="border:1px solid red;">
                    <a href="#" style="float:right;margin-right: 14px;margin-top: 6px;">x</a>
                    <p style="color:red;font-size: 21px;margin-left: 78px;">Please Select An Individual</p>
                </div>
                <div class="col-md-12" style="margin-top:10px">
                    <div id="" style="margin-left:35%;float: right;padding-bottom: 10px;">

                        <button id="btn_prev" class="btn default" style=";margin-right: 9px;">
                            <i class="fa fa-caret-square-o-left"></i>
                            Prev 1000

                        </button>
                        <button id="btn_next" class="btn green" style="margin-right: 9px;">

                            Next 1000
                            <i class="fa fa-caret-square-o-right"></i>
                        </button>
                        <button class="btn" id="btnHost" style="margin-left:10px;background-color: orange"><i class="fa fa-user" aria-hidden="true" style="padding-right:5px; "></i>Assign Host</button>
                        <button class="btn blue" id="btnIndvInvitee" style="margin-left:10px;"><i class="fa fa-users" aria-hidden="true" style="padding-right:5px"></i>Assign Invitee</button>

                        <button id="clear_filtergroup_individual" class="btn red" style="float: right;    margin-right: 9px;" data-toggle="modal" href="#">
                            <i class="fa fa-filter"></i>
                            Clear Search
                        </button>
                        <button id="filtergroup_individual" class="btn green ladda-button" style="margin-right:10px;" data-style="expand-left">
                            <i class="fa fa-filter"></i>
                            <span class="ladda-label">
                                Search
                            </span>
                            <span class="ladda-spinner"></span>
                        </button>

                    </div>
                    <div class="row" id="filterSection" style="margin-top: 24px;margin-bottom:10px;float: right;">

                        <div class="col-sm-2" style="float:right;width:401px;margin-top: 21px;">
                            <label style="float:right">:القضاء</label>
                            <select lass="form-control" style="float:right;width:70%;height:35px" id="kadaaFilter_text" onchange="GetKadaaNofos(this)" data-value="قضاء_النفوس"></select>


                        </div>
                        <div class="col-sm-2" style="float:right;width:401px;margin-top: 21px;">
                            <label style="float:right">:البلدة</label>

                            <select lass="form-control" style="float:right;width:70%;height:35px" id="baldaFilter_text" data-value="بلدة_النفوس"></select>

                        </div>
                        <div class="col-sm-2" style="float:right;margin-top: 21px;width:401px">
                            <label style="float:right">:الطائفة</label>
                            <select lass="form-control" style="float:right;width:70%;height:35px" id="tayfeFilter_text" data-value="الطائفة"></select>

                        </div>
                        <div class="col-sm-2" style="float:right;margin-top: 21px;width:401px">
                            <label style="float:right">:السجل</label>
                            <select lass="form-control" style="float:right;width:70%;height:35px" id="sejelFilter_text" data-value="رقم_السجل"></select>

                        </div>

                        <div class="col-sm-2" style="float:right;width:401px;margin-top: 21px;">
                            <label style="float:right">:الاسم </label>
                            <input type="text" class="form-control" style="float:right;width:70%" data-value="الاسم" />
                        </div>
                        <div class="col-sm-2" style="float:right;width:401px;margin-top: 21px;">
                            <label style="float:right">:الاسم الأب </label>
                            <input type="text" class="form-control" style="float:right;width:70%" data-value="اسم_الأب" />
                        </div>
                        <div class="col-sm-2" style="float:right;width:401px;margin-top: 21px;">
                            <label style="float:right">:الشهرة </label>
                            <input type="text" class="form-control" style="float:right;width:70%" data-value="الشهرة" />
                        </div>




                    </div>

                    <table class="table table-striped table-bordered table-hover" id="individualsDatatable" style="float:left;width:100% !important">

                        <thead>
                            <tr role="row" class="heading">
                                <th><input id="checkAllIndividuals" class="select-checkbox" onclick="selectallcheckbox(this)" type="checkbox"></th>
                                <th style="display:none">ID</th>
                                <th>إسم</th>
                                <th>إسم الأب </th>
                                <th>اسم عائلة البكر</th>
                                <th>قضاء</th>
                                <th>بلدة</th>
                                <th>طائفة</th>
                                <th>رقم السجل </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div id="usersTab_Content" class="tab-pane ">
                <div class="col-md-12">
                    <div id="" style="margin-left:35%;float: right;padding-bottom: 10px;">
                        <button class="btn blue" id="btnUserInvitee" style="margin-left:10px;"><i class="fa fa-users" aria-hidden="true" style="padding-right:5px"></i>Assign Invitee</button>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="usersDatatable" style="width:100%">
                        <thead>
                            <tr role="row" class="heading">
                                @*<th><input id="checkAllUsers" class="select-checkbox" onclick="selectallcheckbox(this)" type="checkbox"></th>    STILL NEEDS THE selectallcheckbox funtion fix*@
                                <th><input id="checkAllUsers" class="select-checkbox" type="checkbox"></th>
                                <th>UserName</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Type</th>
                                <th>Job Description</th>
                                <th>Address</th>
                                <th>Kadaa</th>
                                <th>Balda</th>
                                <th>Notes</th>
                                <th>Group Name</th>
                                <th>Group Description</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div id="nonVoters_Content" class="tab-pane ">
                <div class="col-md-12">
                    <div id="" style="margin-left:35%;float: right;padding-bottom: 10px;">
                        <button class="btn blue" id="btnVolInvitee" style="margin-left:10px;"><i class="fa fa-users" aria-hidden="true" style="padding-right:5px"></i>Assign Invitee</button>
                        <button class="btn green-turquoise" id="btnAddNonVoter" data-toggle="modal" data-target="#myNonVoterModal" style="margin-left:10px;"><i class="fa fa-plus" aria-hidden="true" style="padding-right:5px"></i>Add NonVoter</button>

                    </div>
                    <table class="table table-striped table-bordered table-hover" id="nonVotersDatatable" style="width:100%">
                        <thead>
                            <tr>
                                <th><input id="checkAllNonVoters" class="select-checkbox" onclick="" type="checkbox"></th>
                                <th>ID</th>
                                <th>الاسم_</th>
                                <th>اسم_الأب</th>
                                <th>الشهرة</th>
                                <th>اسم_الأم</th>
                                <th>قضاء_النفوس</th>
                                <th>بلدة_النفوس</th>
                                <th>رقم_السجل</th>
                                <th>العائلة</th>
                                <th> قضاء_السكن</th>
                                <th>بلدة_السكن	</th>
                                <th>الهاتف</th>
                                <th>المهنة	</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>

            <div id="generalNoteTab_Content" class="tab-pane ">
                <div class="form-group">
                    <textarea class="form-control" id="generalNote" rows="11"></textarea>

                </div>

            </div>
            <div id="indivNoteTab_Content" class="tab-pane ">
                <div id="noteContent"></div>

            </div>
        </div>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Visit Details</h4>
                </div>
                <div class="modal-body" style="height: 347px;">
                    <div class="form-group" style="height: 41px;" id="ApprovedDate_Div">
                        <label style="float:left">Approved Date </label>
                        <div class="input-group input-small" style="float:left;margin-left:10px">
                            <input type="text" style="width: 300px;" id="suggestedDate" class="form-control datepicker">
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="float:left" id="lbl_location">Location </label>
                        <div class="input-group input-small" style="float:left;margin-left:10px;    width: 90% !important;">
                            <textarea class="form-control" id="txt_location" style="float:left;width: 100%;height: 117px;" cols="5"></textarea>

                        </div>

                    </div>
                    @*<div class="form-control">
                            <label style="float:left;"></label>
                           <textarea class="form-control" id="txt_location" style="float:left;width:30%"></textarea>
                        </div>*@
                </div>
                <div class="modal-footer">
                    <button class="btn green" data-dismiss="modal" id="btn_visitDetials">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="myNonVoterModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="width:900px;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Visit Details</h4>
                </div>
                <div class="modal-body" style="height: 263px;">
                    <style>
                        #submit_individual {
                            margin-left: 10px;
                        }
                    </style>

                    @Html.Partial("~/Views/PMDashboard/_AddNonVoter.cshtml")


                </div>
                <div class="modal-footer">
                    @*<button class="btn green" id="btn_nonVoterSubmit">Submit</button>*@
                    <button type="button" id="closeNoneVoters" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('body').on('show', '.modal', function () {
            setTimeout(function () {
                //$("#call_modal").css({ 'margin-top': '-300px' });

                $(".modal-content").css({ 'margin-top': '0px' });
            }, 200);

        });
    });
    var individualsDatatable;
    var inviteesDatatable;
    var nonVotersDatatable=null;
    var usertable;
    var indivRowIndex = 0;
    var userRowIndex = 0;
    var voterRowIndex = 0;
    var individualToVisit = 0;

    var pageNumber = 1;
    var HashCodeForPagination = "";
    var hashForCountInt = "";
    var currentPageNumber = 1;
    $(document).ready(function () {



        $.fn.dataTable.ext.errMode = 'none';
        //$("#kadaaFilter_text").select2();
        $.getJSON('@Url.Action("getAllKadaa", "PMDashboard")', { selectVariable: "قضاء النفوس", whereVariable: null, resultVariable: null }).done(function (data) {
            $('#kadaaFilter_text').empty();
            $('#kadaaFilter_text').append('<option value="">قضاء النفوس</option>');
            $.each(data, function (index, value) {
                $('#kadaaFilter_text').append('<option value="' + value + '">' + value + '</option>');
            });
        });

        //$("#baldaFilter_text").select2();
        //$("#tayfeFilter_text").select2();


        $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "الطائفة", whereVariable: null, resultVariable: null }).done(function (data) {
            $('#tayfeFilter_text').empty();
            $('#tayfeFilter_text').append('<option value="">الطائفة</option>');
            $.each(data, function (index, value) {
                $('#tayfeFilter_text').append('<option value="' + value + '">' + value + '</option>');
            });
        });

        $("#tayfeFilter_text").on("change", function () {
            $.getJSON('@Url.Action("getFromIndividuals", "PMDashboard")', { selectVariable: "رقم السجل", whereVariable: "الطائفة", resultVariable: $('#tayfeFilter_text').val() }).done(function (data) {
                $('#sejelFilter_text').empty();

                $('#sejelFilter_text').append('<option value="">رقم السجل</option>');
                $.each(data, function (index, value) {

                    $('#sejelFilter_text').append('<option value="' + value + '">' + value + '</option>');
                });
            });
            //$('#sejelFilter_text').select2({
            //    tags: true,
            //    createTag: function (params) {
            //        return {
            //            id: params.term,
            //            text: params.term,
            //            newOption: true
            //        }
            //    },
            //});
        });

        //$("#sejelFilter_text").select2({
        //    tags: true,
        //    createTag: function (params) {
        //        return {
        //            id: params.term,
        //            text: params.term,
        //            newOption: true
        //        }
        //    },
        //});


        var url = window.location.href;
        //if (url.indexOf('Enable') != -1) {
        //    $('#controlSection').find('input, textarea, button, select,a').attr('disabled', 'disabled');
        //    $('#tableSection').find('input, textarea, button, select,a').attr('disabled', 'disabled');
        //}
        LoadnonVotersDataTable();


        //$("#requestVisitFromUser").select2({
        //    placeholder: "Select a user",
        //});
        //$("#visitType").select2();
        //$("#visitStatus").select2();

        //$('#requestVisitFromUser').empty();


        usertable = $('#usersDatatable').DataTable({
            "order": [[1, "desc"]],
            select: {
                //style: 'multi'
                style: 'multi'
            },
            //scrollY: "300px",
            //scrollX: true,
            //scrollCollapse: true,
            //fixedColumns: {
            //    leftColumns: 8
            //},
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }, {
                visible: false,

                targets: 10
            }, {
                visible: false,

                targets: 11
            }],
            "sAjaxSource": '@Url.Action("getUsers", "PMDashboard")',
            "columns": [
                { "data": "CheckBox" },
                { "data": "UserName" },
                { "data": "FirstName" },
                { "data": "LastName" },
                { "data": "UserType" },
                { "data": "JobDescription" },
                { "data": "Address" },
                { "data": "Kadaa" },
                { "data": "Balda" },
                { "data": "Notes" },
                { "data": "Group" },
                { "data": "GroupDescription" }
            ]
            //,
            //"initComplete": function (settings, json) {
            //    $('.dataTables_scrollBody').css('top', '11px');

            //}
        });

        LoadIndividualsTable(null, 'True');
        $("#individualsDatatable ").dataTable().find("tbody").on('click', 'tr', function () {
            indivRowIndex = this.rowIndex;

        });
    });


    function LoadnonVotersDataTable() {


        nonVotersDatatable = $("#nonVotersDatatable").DataTable({
            "order": [[1, "desc"]],
            select: {
                style: 'multi'
            },
            columnDefs: [{
                orderable: false,
                className: 'select-checkbox',
                targets: 0
            }],
            "sAjaxSource": '@Url.Action("GetNonVoters", "PMDashboard")',
            "columns": [
                        { "data": "CheckBox", "name": "CheckBox" },
                        { "data": "ID", "name": "ID" },
                          { "data": "الاسم_", "name": "الاسم_" },
                    { "data": "اسم_الأب", "name": "اسم_الأب" },
                    { "data": "الشهرة", "name": "الشهرة" },
                    { "data": "اسم_الأم", "name": "اسم_الأم" },
                        { "data": "قضاء_النفوس", "name": "قضاء_النفوس" },
                        { "data": "بلدة_النفوس", "name": "بلدة_النفوس" },
                        { "data": "رقم_السجل", "name": "رقم_السجل" },

                      { "data": "العائلة", "name": "العائلة" },
                        { "data": "قضاء_السكن", "name": "قضاء_السكن" },
                          { "data": "بلدة_السكن", "name": "بلدة_السكن" },
                            { "data": "الهاتف", "name": "الهاتف" },
                              { "data": "المهنة", "name": "المهنة" }]




        });
    }

        $("#visitFrom").on('change', function () {

            var dateFrom = new Date($(this).val());

            var dateTo = new Date();
            dateTo.setDate(dateFrom.getDate() + 10);

            var day = ("0" + dateTo.getDate()).slice(-2);
            var month = ("0" + (dateTo.getMonth() + 1)).slice(-2);

            var dateFormatted = dateTo.getFullYear() + "-" + (month) + "-" + (day);

            $("#visitTo").val(dateFormatted);


        });
        $("#visitToDisable").click(function () {
            if (this.checked) {
                $("#visitTo").attr("disabled", true);
            }
            else {
                $("#visitTo").attr("disabled", false);
            }
        });
        var jsonInvitee;
        var InviteeArray = new Array();



        $("#btn-clearhost").click(function () {

            $("#inviteesDatatable tbody tr:first").css('background-color', 'white');
            var rowIndex = 0;
            $.each(inviteesDatatable.data(), function (index, value) {
                if (value.IsHost == "True")
                    rowIndex = index;
            });
            var isHost = inviteesDatatable.cell({ row: rowIndex, column: 3 }).data();
            isHost = "False"; //or -1
            inviteesDatatable.cell({ row: rowIndex, column: 3 }).data(isHost).draw();
            $("#btnHost").prop("disabled", false);
            $("#btn-clearhost").prop("disabled", true);
        });

        $("#btnHost").click(function () {

            var selectedIndv = $("#individualsDatatable .selected");
            var id;
            $("#btnHost").prop("disabled", true);
            $("#btn-clearhost").prop("disabled", false);
            if (selectedIndv.length == 0) {

                $(".collapse").toggle("slow");

            }
            else if (selectedIndv.length > 1) {
                $("#warning p").html("Only 1 host is allowed !");
                $(".collapse").toggle("slow");

            }
            else {
                selectedIndv = individualsDatatable.rows({ selected: true }).data();
                //id = selectedIndv.children()[1].innerHTML;



                inviteesDatatable.row.add({
                    "InviteeKey": selectedIndv[0].ID, "Name": selectedIndv[0].الاسم + " " + selectedIndv[0].اسم_الأب + " " + selectedIndv[0].العائلة, "InviteeType": "Individual", "IsHost": "True", "Delete": ""
                }).draw(false);
                $("#inviteesDatatable tbody tr:first").css('background-color', 'orange');
                individualsDatatable.row('.selected').remove().draw(false);


                var controlhtml = "";
                controlhtml += "<div class='form-form-group' style='margin-top:10px;height:35px'>";
                controlhtml += "<lable style='float: left;margin-left: 20px;'>" + selectedIndv[0].الاسم + " " +
                selectedIndv[0].اسم_الأب + " " +
                selectedIndv[0].العائلة + "</lable>";
                controlhtml += "<input id='txtNote_" + selectedIndv[0].ID + "' type='text' data-value='txtNote' class='form-control' style='float: left;width: 90%;margin-left: 18px;'/>";
                controlhtml += "</div>";

                $("#noteContent").append(controlhtml);

            }
        });



        $("#btnIndvInvitee").click(function () {
            //var selectedRows = $("#individualsDatatable .selected");
            var selectedRows = individualsDatatable.rows({ selected: true }).data();
            for (var i = 0; i < selectedRows.length; i++) {
                var selectedIndv = selectedRows[i];

                inviteesDatatable.row.add({ "InviteeKey": selectedIndv.ID, "Name": selectedIndv.الاسم + " " + selectedIndv.اسم_الأب + " " + selectedIndv.العائلة, "InviteeType": "Individual", "IsHost": "False", "Delete": "" }).draw(false);

                individualsDatatable.row('.selected').remove().draw(false);


                var controlhtml = "";
                controlhtml += "<div id= class='form-form-group' style='margin-top:10px;height:35px'>";
                controlhtml += "<lable style='float: left;margin-left: 20px;'>" + selectedIndv.الاسم + " " +
                selectedIndv.اسم_الأب + " " +
                selectedIndv.العائلة + "</lable>";
                controlhtml += "<input id='txtNote_" + selectedIndv.ID + "' type='text' data-value='txtNote' class='form-control' style='float: left;width: 90%;margin-left: 18px;'/>";
                controlhtml += "</div>";

                $("#noteContent").append(controlhtml);
            }
        });

        $("#btnUserInvitee").click(function () {
            //var selectedRows = $("#usersDatatable .selected");

            var selectedRows = usertable.rows('.selected').data();
            for (var i = 0; i < selectedRows.length; i++) {
                var selectedIndv = selectedRows[i];

                inviteesDatatable.row.add({ "InviteeKey": selectedIndv.Id, "Name": selectedIndv.UserName, "InviteeType": "User", "IsHost": "False", "Delete": "" }).draw(false);

                usertable.row('.selected').remove().draw(false);
            }
        });

        $("#btnVolInvitee").click(function () {

            var selectedRows = $("#nonVotersDatatable .selected");
            for (var i = 0; i < selectedRows.length; i++) {
                var selectedIndv = selectedRows[i];

                inviteesDatatable.row.add({ "InviteeKey": selectedIndv.children[1].innerHTML, "Name": selectedIndv.children[2].innerHTML + " " + selectedIndv.children[3].innerHTML + " " + selectedIndv.children[4].innerHTML, "InviteeType": "Non Voters", "IsHost": "False", "Delete": "" }).draw(false);

                nonVotersDatatable.row('.selected').remove().draw(false);
            }
        });




        $("#warning a").click(function () {
            $(".collapse").toggle("slow");

        });

        $("#visitStatus").on('change', function () {
            var value = $(this).val();
            if (value == "Approved") {
                if ('@ViewBag.Status' != "Approved") {
                    $('#myModal').modal('show');
                }
                $("#ApprovedDate_Div").show();
                $("#lbl_location").text("Location");
            }
            else if (value == "Declined") {
                $('#myModal').modal('show');
                $("#ApprovedDate_Div").hide();
                $("#lbl_location").text("Comment");
            }
        });



        //$(document).ready(function () {


        //    $('#myModal').modal('hide');

        //});





        $("#btn_visitDetials").click(function () {
            console.log($("#suggestedDate").val());
            var requestDate = new Date($("#suggestedDate").val());
            if (requestDate == "Invalid Date") {
                //alert("Please select a valid date!");

            }
            else {
                $("#generalNotTabLi").removeClass("disabled")
                $("#generalNotTab").attr("href", "#generalNoteTab_Content");
                //href = "#generalNoteTab_Content"

            }
        });

        $('.datepicker').datetimepicker({
            format: 'DD-MM-YYYY HH:mm:ss',
            minDate: new Date()

        });

        var Notify;
        ///michel///
        $(document).ready(function () {

            if ('@ViewBag.SuggestedDate' != "null") {
                $("#suggestedDate").val('@ViewBag.SuggestedDate');
            }
            $("#txt_Title").val('@ViewBag.ActionTitle');
            $("#txt_location").val('@ViewBag.Location');


            if ('@ViewBag.RequestKey' != "") {
                $("#from-user").css("display", "none");
                $("#visitStatus").val('@ViewBag.Status').change();
                if ('@ViewBag.Status' == "Approved") {
                    $("#proposeddates").css("display", "none");
                    $("#approved-visit").css("display", "block");
                    $("#visit-date").val('@ViewBag.SuggestedDate');
                    $("#visit-location").val('@ViewBag.Location');
                }

            }
            else {
                $('#status2').prop('disabled', !$('#status2').prop('disabled'));
                $('#status3').prop('disabled', !$('#status3').prop('disabled'));
                $('#status4').prop('disabled', !$('#status4').prop('disabled'));
                //$('#visitStatus').select2();

            }

            $("#visitFrom").val('@ViewBag.ActionDueDate');
            $("#visitTo").val('@ViewBag.ActionMaxDueDate');
            $("#generalNote").val('@ViewBag.generalNote');

            Notify = '@ViewBag.Notify';

            $("#visit-note").val('@ViewBag.ActionComment');


            $("#visitType").val('@ViewBag.ActionVisitInternalExternal').change();




            if ('@ViewBag.RequestKey' == '') {
                $("#visitStatus").val('Pending').trigger('change');
                $("#visitStatus").prop('disabled', true);


            } else {
                $("#createVisitRequest").hide();
            }

            if (Notify.includes("Notify")) {
                $("#controlSection :input").attr("disabled", true);
                $(".deleteBtn").attr("disabled", true);
                $("#inviteesTab_Content").prop("disabled", true);
                $("#updaterequest").css("visibility", "hidden");

            }

            if (Notify == "0") {
                $("#controlSection :input").attr("disabled", false);
                $("#updaterequest").css("visibility", "visible");
                $("#createVisitRequest").css("visibility", "hidden");

            }
            if (Notify == "") {
                $("#controlSection :input").attr("disabled", false);
                $("#updaterequest").css("visibility", "hidden");
                $("#createVisitRequest").css("visibility", "visible");

            }
            if (Notify == "0" && '@ViewBag.Status' =="Approved" ) {

                $("#inviteesTab_Content button").prop("disabled", true);
            }
            if (Notify == "0" && '@ViewBag.Status' == "Approved" && '@ViewBag.RequestedFromUser' == '@User.Identity.Name') {

                $("#inviteesTab_Content button").prop("disabled", true);

                $("#visit-date").prop("disabled", false);
                $("#visit-location").prop("disabled", false);
                $("#btn_prev").prop("disabled", true);
                $("#btn_next").prop("disabled", true);
                $("#btnHost").prop("disabled", true);
                $("#btnIndvInvitee").prop("disabled", true);
                $("#filtergroup_individual").prop("disabled", true);
                $("#clear_filtergroup_individual").prop("disabled", true);

                $("#usersTab_Content button").prop("disabled", true);
                $("#nonVoters_Content button").prop("disabled", true);
            }
           else if (Notify == "Notify" && '@ViewBag.Status' == "Approved" && '@ViewBag.RequestedCreatedByUser' == '@User.Identity.Name') {
               $("#updaterequest").css("visibility", "visible");
               $("#updaterequest").prop("disabled", false);
               $("#controlSection input").prop("disabled", true);
               $("#controlSection select").prop("disabled", true);
           }
           else if (Notify.includes("Notify") && Notify != "Notify") {

               $("#btn_prev").prop("disabled", true);
               $("#btn_next").prop("disabled", true);
               $("#btnHost").prop("disabled", true);
               $("#btnIndvInvitee").prop("disabled", true);
               $("#filtergroup_individual").prop("disabled", true);
               $("#clear_filtergroup_individual").prop("disabled", true);

               $("#usersTab_Content button").prop("disabled", true);
               $("#nonVoters_Content button").prop("disabled", true);
               $("#inviteesTab_Content button").prop("disabled", true);

               $("#updaterequest").prop("disabled", false);
               $("#controlSection input").prop("disabled", true);
               $("#controlSection select").prop("disabled", true);

           }



        });

        //var inviteesDatatable = $('#inviteesDatatable').DataTable();
        var selectedIndividual;

        $(document).ready(function () {

            LoadInvitees();
            if (inviteesDatatable != undefined)
            {
              //  inviteesDatatable.ajax.reload();

            }

        });

        $("#visitType").on("change", function (event) {

            if ($("#visitType").val() == "Internal" || $("#visitType").val() == "External") {
                $.getJSON('@Url.Action("GetActionsByType", "PMDashboard")', { type: $("#visitType").val() }).done(function (data) {
                    $('#requestVisitFromUser').empty();
                    $.each(data, function (index, value1) {
                        $('#requestVisitFromUser').append('<option value="' + value1 + '">' + value1 + '</option>');
                    });
                    //$('#requestVisitFromUser').select2();
                });
            }

        })


        //$('#requestVisitFromUser')
        //.on('select2:open', function () {
        //    if ($("#visitType").val() != "Internal" && $("#visitType").val() != "External") {
        //        bootbox.alert("Please choose visit type first");
        //    }

        //})
        //.select2();

        var IndividualHashCode = "";
        $("#filtergroup_individual").click(function () {
            pageNumber = 1;
            HashCodeForPagination = "";
            hashForCountInt = "";
            currentPageNumber = 1;
            IndividualHashCode = "";
            setTimeout(
     function () {

         //Basic Filter
         $('#filterSection input[type="text"]').filter(function () {
             if ($(this).length > 0) {
                 var elementId = $(this).attr("id");
                 var columnName = $(this).attr("data-value");

                 if (elementId != "ID_text" && elementId != "sejel_text") {
                     if ($(this).val() != "") {

                         var value = $(this).val();
                         IndividualHashCode += "AND ([" + columnName.replace('_', ' ').trim() + "] like N''%" + value.trim() + "%'')";
                         //filterIndividualColumn(columnName, value);
                     }
                     else {
                         //filterIndividualColumn(columnName, '');
                     }
                 }
                 else {

                     if ($(this).val() != "") {

                         var value = $(this).val();
                         var
             Value = convertToRegexID($(this).val());

                         IndividualHashCode += "AND ([" + columnName.replace('_', ' ').trim() + "] like N''%" + value.trim() + "%'')";
                     }
                     else {
                         //filterIndividualColumn(columnName, '');
                     }
                 }

             }
         });




         $('#filterSection input[type="radio"]:checked').filter(function () {
             var columnName = $(this).attr("data-value");
             var elementID = $(this).attr("id");
             if ($(this).val() != "all") {

                 var value = $(this).val();
                 IndividualHashCode += " AND ";

                 var regexNo = "(^$|false)";
                 if (value == "false") {
                     IndividualHashCode += "([" + columnName.replace('_', ' ').trim() + "] = ''" + value.trim() + "''  or [" + columnName.replace('_', ' ').trim() + "] = 'null')";
                 }
                 else {
                     IndividualHashCode += "([" + columnName.replace('_', ' ').trim() + "] = ''" + value.trim() + "'' or [" + columnName.replace('_', ' ').trim() + "] <> 'null')";
                 }
             }
             else {
                 //filterIndividualColumn(columnName, '');
             }
         });


         if ($("#fromBirthDate").val() != "" && $("#fromBirthDate").val() != null) {
             var yearRegex = "";
             var YearFrom = $("#fromBirthDate").val();
             var YearTo = $("#toBirthDate").val();
             var regexType = "di";

             if (YearTo == "") {
                 YearTo = $("#toBirthDate option:nth-child(2)").val();
             }
             if (YearFrom == YearTo) {
                 regexType = "eq";
             }

             yearRegex = convertToRegexBetween(YearFrom, YearTo);

             IndividualHashCode += " AND ";

             IndividualHashCode += "( (CAST(LEFT([سنة الولادة],4)AS INT)) BETWEEN " + YearFrom + " AND " + YearTo + ")";
         }

         $('#filterSection select').filter(function () {
             if ($(this).length > 0) {

                 //Not Year Of Birth
                 var elementID = $(this).attr("id");
                 var columnName = $(this).attr("data-value");
                 if ($(this).val() != null && $(this).val() != "") {
                     if (elementID != "fromBirthDate" && elementID != "toBirthDate") {

                         var valueArray = new Array();
                         valueArray = $(this).val();
                         var elementType = typeof (valueArray);
                         var value = "";
                         //

                         if (elementType == "string") {

                             value = valueArray;
                             value = "^(" + value.replace(" ", "\\s") + ")$";

                             IndividualHashCode += " AND (";
                             IndividualHashCode += "[" + columnName.replace('_', ' ').trim() + "] = N''" + valueArray.trim() + "''";
                         }
                         else if (elementType == "object") {
                             value = "(";
                             value += valueArray.join('|');
                             value += ")";

                             IndividualHashCode += " AND (";
                             for (var i = 0; i < valueArray.length; i++) {
                                 IndividualHashCode += "[" + columnName.replace('_', ' ').trim() + "] like N''%" + valueArray[i].trim() + "%''";

                                 if (i + 1 < valueArray.length) {
                                     IndividualHashCode += " OR ";
                                 }
                             }
                         }

                         IndividualHashCode += ")";

                         if (elementID == "sejel_text") {
                             value = "([^0-9]|^)" + value + "([^0-9]|$)";
                         }
                     }

                 }

                 else {
                     //filterIndividualColumn(columnName, '');
                 }

             }

             // Birth Year Filter

         });


         //Advanced Filter

         $('#filterSection input[type="text"]').filter(function () {
             var elementID = $(this).attr("id");
             if (elementID == "BirthOfDate") {
                 var dateOfBirth = new Date($(this).val());
                 if (dateOfBirth != "Invalid Date") {
                     var columnName = $(this).attr("data-value");

                     var value = (parseInt(dateOfBirth.getMonth()) + parseInt(1)) + "/" + dateOfBirth.getDate();
                     var datelue = dateOfBirth.getDate() + "-" + (parseInt(dateOfBirth.getMonth()) + parseInt(1));

                     IndividualHashCode += " AND ([" + columnName.replace('_', ' ').trim() + "] like ''%" + value.trim() + "%'')";
                     var dateRegex = convertToRegexMonthDay(value)
                     //filterIndividualColumn(columnName, dateRegex);
                 }
             }
             else {
                 if ($(this).length > 0) {
                     var columnName = $(this).attr("data-value");
                     if ($(this).val() != "") {
                         if (elementID != "serviceFrom" && elementID != "serviceTo") {

                             var value = $(this).val();
                             IndividualHashCode += " AND ([" + columnName.replace('_', ' ').trim() + "] like N''%" + value.trim() + "%'')";
                             //filterIndividualColumn(columnName, value);
                         }
                     }
                     else {
                         //filterIndividualColumn(columnName, '');
                     }
                 }
             }

         });

         //if ($("#serviceFrom").val().trim() != "" && $("#serviceTo").val().trim() != "") {

         //    var servicRegexFrom = convertToRegexServiceFrom($("#serviceFrom").val());
         //    var serviceRegeTo = convertToRegexServiceTo($("#serviceTo").val());
         //    var serviceRegex = "^(" + convertToRegexServiceFrom + "|" + convertToRegexServiceTo + ")";

         //    var value = $(this).val();
         //    IndividualHashCode += " AND ([عدد الخدمات] >" + $("#serviceFrom").val() + " AND [عدد الخدمات] < " + ("#serviceTo").val() + " )";
         //    filterIndividualColumn("عدد_الخدمات", serviceRegex);
         //}


         $('#filterSection input[type="radio"]:checked').filter(function () {
             var columnName = $(this).attr("data-value");
             if ($(this).val() != "all") {

                 var value = $(this).val();
                 IndividualHashCode += " AND ";

                 var regexNo = "(^$|false)";
                 if (value == "false") {
                     IndividualHashCode += "([" + columnName.replace('_', ' ').trim() + "] = ''" + value.trim() + "''  or [" + columnName.replace('_', ' ').trim() + "] = '''')";
                     //filterIndividualColumn(columnName, regexNo);

                 }
                 else {
                     IndividualHashCode += "([" + columnName.replace('_', ' ').trim() + "] = ''" + value.trim() + "''  or [" + columnName.replace('_', ' ').trim() + "] <> '''')";
                     //filterIndividualColumn(columnName, "(?!" + regexNo + ")");
                 }
             }
             else {
                 //filterIndividualColumn(columnName, '');
             }
         });

         $('#filterSection select').filter(function () {
             if ($(this).length > 0) {
                 //Not Year Of Birth
                 var elementID = $(this).attr("id");
                 var columnName = $(this).attr("data-value");

                 if ($(this).val() != null && $(this).val() != "") {
                     if (elementID != "fromBirthDate_Children" && elementID != "fromBirthDate_Children") {

                         var valueArray = new Array();
                         valueArray = $(this).val();
                         var elementType = typeof (valueArray);
                         var value = "";

                         if (elementType == "string") {
                             value = valueArray;
                             value = "^(" + value.replace(" ", "\\s") + ")$";
                             IndividualHashCode += " AND (";
                             IndividualHashCode += "[" + columnName.replace('_', ' ').trim() + "] = N''" + valueArray.trim() + "''";
                         }
                         else if (elementType == "object") {
                             value = "(";
                             value += valueArray.join('|');
                             value += ")";

                             IndividualHashCode += " AND (";
                             for (var i = 0; i < valueArray.length; i++) {
                                 IndividualHashCode += "[" + columnName.replace('_', ' ').trim() + "] like N''%" + valueArray[i].trim() + "%''";

                                 if (i + 1 < valueArray.length) {
                                     IndividualHashCode += " OR ";
                                 }
                             }
                         }

                         IndividualHashCode += ")";
                     }

                 }

                 else {
                     //filterIndividualColumn(columnName, '');
                 }

             }
         });

         //$("#filtergroup_individual").attr("data-filter", IndividualHashCode.replace('_', ' '));

         //var HashCode = $("#filtergroup_individual").attr("data-filter");

         LoadIndividualsTable(IndividualHashCode, 'False');

     }, 3000);

        });

        function LoadIndividualsTable(HashCode, FromGroup) {

        var ajaxSource = '@Url.Action("getALLIndividuals", "PMDashboard")' + '/?userHash=' + HashCode + "&pagination=&individualvisittable=1";
            if (individualsDatatable != undefined) {
                individualsDatatable.destroy();
            }

            InitializeIndividualDataTable(ajaxSource, FromGroup, HashCode);
            //individualtable.ajax.reload();
        }

    function LoadIndividualsTableWithPagination(HashCode, FromGroup, pagination) {

        var ajaxSource = '@Url.Action("getALLIndividuals", "PMDashboard")' + '/?userHash=' + HashCode + "&pagination=" + pagination ;
        if (individualsDatatable != undefined) {
            individualsDatatable.destroy();
        }

        InitializeIndividualDataTable(ajaxSource, FromGroup, HashCode);
        //individualtable.ajax.reload();
    }

        function InitializeIndividualDataTable(ajaxSource, FromGroup, HashCode) {
            individualsDatatable = $('#individualsDatatable').DataTable({
                "order": [[1, "desc"]],
                select: {
                    style: 'multi'
                },

                //scrollX: true,
                //scrollCollapse: true,

                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }, {
                    visible: false,

                    targets: 1
                }],
                "sAjaxSource": ajaxSource,
                "columns": [
                   { "data": "CheckBox", "name": "CheckBox" },
    { "data": "ID", "name": "ID" },
    { "data": "الاسم", "name": "الاسم" },
    { "data": "اسم_الأب", "name": "اسم_الأب" },
    { "data": "الشهرة", "name": "الشهرة" },
    { "data": "قضاء_النفوس", "name": "قضاء_النفوس" },
    { "data": "بلدة_النفوس", "name": "بلدة_النفوس" },
    { "data": "الطائفة", "name": "الطائفة" },
    { "data": "رقم_السجل", "name": "رقم_السجل" }

                ],
                "initComplete": function (settings, json) {
                    //$('.dataTables_scrollBody').css('top', '11px');
                    //fillAdavancedColumnList();
                    $(".dataTables_scrollBody").animate({ scrollLeft: "5000px" }, 800);
                    $("#tab-content-loader").hide();
                    gettotalnumberofrows(HashCode, FromGroup);
                    //IndividualHashCode = "";
                    //Ladda.stopAll();
                }
            });
        }


        var originalTotal;
        function gettotalnumberofrows(HashCode, FromGroup) {
            $.ajax({
                url: '@Url.Action("gettotalnumberofrows", "PMDashboard")',
                type: 'Get',
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                data:
                    {
                        HashCode: HashCode,
                        FromGroup: 'Service'
                    },

                success: function (data) {

                    if (FromGroup == 'True') {
                        originalTotal = data;
                        $("#individualsDatatable_info").append("<p>Total Number of Rows :" + data + "</p>");
                    }
                    else {
                        if (parseInt(data) > 1000) {

                            $("#individualsDatatable_info").append("<p>Total Number of Rows :1000 of " + data + " of " + originalTotal + "</p>");
                        }
                        else {
                            $("#individualsDatatable_info").append("<p>Total Number of Rows :" + data + " of " + originalTotal + "</p>");
                        }

                    }


                }
            });
        }
        function LoadInvitees() {

            var requestKey = '@ViewBag.RequestKey';

            var ajaxSource = '@Url.Action("GetInvitees", "PMDashboard")' + '/?requestKey=' + requestKey;

            $.fn.dataTable.ext.errMode = 'none';

            if (requestKey != "") {
                inviteesDatatable = $('#inviteesDatatable').DataTable({

                    "order": [[3, "desc"]],
                    columnDefs: [{
                        'targets': 0,
                        'visible': false
                    },
                    {
                        'targets': 3,
                        'visible': false
                    },
                    {
                        'targets': 5,
                        'searchable': false,
                        'orderable': false,
                        'render': function (data, type, full, meta) {
                            return '<Button class="btn red uppercase rowButton deleteBtn " value="' + $('<div/>').text(full.ID).html() + '"  onclick="Delete(this)" class=""><i class="fa  fa-trash" aria-hidden="true" ></i></Button>';
                        }
                    }],
                    "sAjaxSource": ajaxSource,
                    "columns": [
                        { "data": "InviteeKey", "name": "InviteeKey" },
                        { "data": "Name", "name": "Name" },
                        { "data": "InviteeType", "name": "InviteeType" },
                        { "data": "IsHost", "name": "IsHost" },
                        { "data": "AttendingStatus", "name": "AttendingStatus" },
                        { "data": "Delete", "name": "Delete" }


                    ],
                    "initComplete": function (settings, json) {
                        $("#tab-content-loader").hide();
                        if (Notify == "0" && '@ViewBag.Status' == "Approved" && '@ViewBag.RequestedFromUser' =='@User.Identity.Name') {

                            $("#inviteesTab_Content button").prop("disabled", true);
                            $("#usersTab_Content button").prop("disabled", true);
                            $("#nonVoters_Content button").prop("disabled", true);
                        }
                        else if (Notify.includes("Notify") && Notify != "Notify") {
                            $("#inviteesTab_Content button").prop("disabled", true);
                        }
                    }
                });

                //load individual note

                $.getJSON('@Url.Action("GetInvitees", "PMDashboard")', { requestKey: requestKey }).done(function (data) {
                    console.log(data);


                    $.each(data.data, function (index, value) {
                        if (value.InviteeType == "Individual") {
                            var controlhtml = "";

                            controlhtml += "<div class='form-form-group' style='margin-top:10px;height:35px'>";
                            controlhtml += "<lable style='float: left;margin-left: 20px;'>" + value.Name + "</lable>";
                            controlhtml += "<input id='txtNote_" + value.InviteeKey + "' type='text' value='" + value.Comment + "' data-value='txtNote' class='form-control' style='float: left;width: 90%;margin-left: 18px;'/>";
                            controlhtml += "</div>";

                            $("#noteContent").append(controlhtml);
                        }

                    });

                });
            } else {


                inviteesDatatable = $("#inviteesDatatable").DataTable({
                    "order": [[3, "desc"]],
                    columnDefs: [{
                        'targets': 0,
                        'visible': false
                    },
                    {
                        'targets': 3,
                        'visible': false
                    },
                    {
                        'targets': 5,
                        'searchable': false,
                        'orderable': false,
                        'render': function (data, type, full, meta) {
                            return '<Button class="btn red uppercase rowButton deleteBtn" value="' + $('<div/>').text(full.ID).html() + '"  onclick="Delete(this)" class=""><i class="fa  fa-trash" aria-hidden="true" ></i></Button>';
                        }
                    }],
                    "columns": [
                      { "data": "InviteeKey", "name": "InviteeKey" },
                      { "data": "Name", "name": "Name" },
                      { "data": "InviteeType", "name": "InviteeType" },
                      { "data": "IsHost", "name": "IsHost" },
                      { "data": "AttendingStatus", "name": "AttendingStatus" },
                      { "data": "Delete", "name": "Delete" }
                    ],
                    fnRowCallback: function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                        if (aData[3] == "True") {
                            $(nRow).addClass('highlight');
                        }
                    }
                });




            }
            selectedIndividual = JSON.parse(sessionStorage.getItem('selectedIndividual'));
            console.log(selectedIndividual);
            if (selectedIndividual != undefined) {
                individualToVisit = selectedIndividual.ID;
                inviteesDatatable.row.add({
                    "InviteeKey": selectedIndividual.ID,
                    "Name": selectedIndividual.الاسم + " " + selectedIndividual.اسم_الأب + " " + selectedIndividual.العائلة, "InviteeType": "Individual", "IsHost": "True", "Delete": ""
                }).draw(false);
                $("#inviteesDatatable tbody tr:first").css('background-color', 'orange');
                $("#btnHost").prop("disabled", "true");
                var controlhtml = "";
                controlhtml += "<div class='form-form-group' style='margin-top:10px;height:35px'>";
                controlhtml += "<lable style='float: left;margin-left: 20px;'>" + selectedIndividual.الاسم + " " +
                selectedIndividual.اسم_الأب + " " +
                selectedIndividual.العائلة + "</lable>";
                controlhtml += "<input id='txtNote_" + selectedIndividual.ID + "' type='text' data-value='txtNote' class='form-control' style='float: left;width: 90%;margin-left: 18px;'/>";
                controlhtml += "</div>";

                $("#noteContent").append(controlhtml);
            }


            $("#taskscallstable_filter").hide();
        }

        function Delete(item) {
            console.log(item);
            var r = confirm("Are you sure you want to delete!");
            if (r == true) {
                if (item.parentElement.parentElement.children[3].innerText == "True")
                    $("#btnHost").attr("disabled", "false");
                inviteesDatatable.row(item.parentElement.parentElement).remove().draw(false);
            } else {

            }
        }

        $("#btnAddNonVoter").click(function () {

        })



        function GetKadaaNofos(element, childvalue) {
            var value = "";
            if ($(element).length > 0)
                value = element.value;
            else
                value = element;

            $.ajax({
                url: '@Url.Action("getAllKadaa", "PMDashboard")',
                dataType: 'json',
                async: false,
                data: {
                    selectVariable: "بلدة النفوس",
                    whereVariable: "قضاء النفوس",
                    resultVariable: value
                },
                success: function (data) {
                    $('#baldaFilter_text').empty();
                    $('#baldaFilter_text').append('<option value="">بلدة النفوس</option>');
                    $.each(data, function (index, value) {
                        $('#baldaFilter_text').append('<option value="' + value + '">' + value + '</option>');
                    });

                    if (childvalue != undefined) {
                        $('#kadaaFilter_text').val(value).trigger('change');
                        $('#baldaFilter_text').val(childvalue).trigger('change');

                    }
                }
            });

        }

        function GetKadaaNofos1(element, childvalue) {
            console.log(2);
            var value = "";
            if ($(element).length > 0)
                value = element.value;
            else
                value = element;

            $.ajax({
                url: '@Url.Action("getFromIndividuals", "PMDashboard")',
                dataType: 'json',
                async: false,
                data: {
                    selectVariable: "بلدة النفوس",
                    whereVariable: "قضاء النفوس",
                    resultVariable: value
                },
                success: function (data) {
                    $('#balda_serviceProvider_text').empty();
                    $('#balda_serviceProvider_text').append('<option value="">بلدة النفوس</option>');

                    $.each(data, function (index, value) {
                        $('#balda_serviceProvider_text').append('<option value="' + value + '">' + value + '</option>');
                    });


                    if (childvalue != undefined) {
                        $('#kadaa_serviceProvider_text').val(value).trigger('change');
                        $('#balda_serviceProvider_text').val(childvalue).trigger('change');

                    }
                }
            });

        }

        $("#clear_filtergroup_individual").click(function () {
            //
            pageNumber = 1;
            HashCodeForPagination = "";
            hashForCountInt = "";
            currentPageNumber = 1;
            individualsDatatable.search('').draw();


            $('#individualTab_Content input[type="text"]').filter(function () {
                $(this).val('');
            });

            $('#individualTab_Content input[type="radio"]').filter(function () {
                var radioSelectorName = $(this).attr('name');
                $("input[name=" + radioSelectorName + "][value=all]").prop('checked', true);


            });
            $('#individualTab_Content select').filter(function () {
                var elementID = $(this).attr('id');
                $("#" + elementID).select2("val", "");


            });


            individualsDatatable
               .columns()
               .search('')
               .draw();

            $("#individualsDatatable tbody tr").removeClass("selected");
            IndividualHashCode = "";
            individualsDatatable.draw();
            LoadIndividualsTable("");
        })

</script>
<script>

    $(document).ready(function () {
        $("#btn_prev").prop('disabled', true);
    })
    $("#btn_next").click(function () {
        var totalNumberOfPages = Math.ceil(originalTotal / 1000);
        pageNumber += 1000;

        $("#btn_prev").prop('disabled', false);

        if (currentPageNumber <= totalNumberOfPages) {
            currentPageNumber++;
            $("#table-div").css("display", "none");
            $("#tab-content-loader").show();


            //if (HashCodeForPagination == "") {
            if (hashForCountInt.indexOf("1 = 1") == -1)
                hashForCountInt = "1 = 1" + IndividualHashCode;
            HashCodeForPagination = IndividualHashCode;
            var pagination = "RN  BETWEEN  " + pageNumber + " AND " + ((pageNumber + 1000) - 1);
            //}
            if (currentPageNumber == totalNumberOfPages) {
                $("#btn_next").prop('disabled', true);
            }
            LoadIndividualsTableWithPagination(HashCodeForPagination,  hashForCountInt, pagination);

        }
        else {
            $("#btn_next").prop('disabled', true);
        }

    })
    $("#btn_prev").click(function () {

        $("#btn_next").prop('disabled', false);
        pageNumber -= 1000;
        if (pageNumber != 1) {
            $("#table-div").css("display", "none");
            $("#tab-content-loader").show();

            HashCodeForPagination = hashForCountInt;
            var pagination = "RN  BETWEEN  " + pageNumber + " AND " + ((pageNumber + 1000) - 1);
            LoadIndividualsTableWithPagination(HashCodeForPagination, hashForCountInt, pagination);
        }
        else {
            $("#btn_prev").prop('disabled', true);
        }
    })


    $(document).on('click', '#createVisitRequest', function () {

        var table = $('#inviteesDatatable').DataTable();
        var individualinviteesId = [];
        var userinviteesId = [];
        var nonvotersinviteesId = [];
        var data = table.rows().data();
        var individualNotes = [];
        var generalNote = $("#generalNote").val();
        $('#noteContent input[type="text"]').filter(function () {

            var indvID = $(this)[0].id.split('_')[1];
            var indvNote = $(this)[0].value;
            var individualNote = { ID: indvID, Note: indvNote };
            individualNotes.push(individualNote);
        });

        if (data.length > 0) {
            var hostID = data[0]['InviteeKey'];
            data.each(function (value, index) {

                switch (value['InviteeType'].trim()) {
                    case "User":
                        userinviteesId.push(value['Name']);
                        break;
                    case "Individual":
                        individualinviteesId.push(value['InviteeKey']);
                        break;
                    case "Non Voters":
                        nonvotersinviteesId.push(value['InviteeKey']);
                        break;
                    default:
                        break;
                }

            });

            $('#createVisitRequest').prop('disabled', true);
            $.ajax({
                url: '@Url.Action("CreateRequest", "PMDashboard")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    requestedCreatedByUser: '@User.Identity.Name',
                    requestedFromUser: $("#requestVisitFromUser option:selected").text(),//;$("#requestVisitFromUser :selected").text(),
                    ActionName: "Visit",
                    requestDate: formatDate(new Date()),
                    requestSeen: "0",
                    requestCompleted: "0",
                    actionVisitInternalExternal: $("#visitType :selected").text(),
                    actionTitle: $("#txt_Title").val(),
                    actionComment: $("#visit-note").val(),
                    actionDueDate: $("#visitFrom").val(),
                    actionMaxDueDate: $("#visitTo").val(),
                    individualinvitees: '\'' + individualinviteesId.join('\',\'') + '\'',
                    usersinvitees: '\'' + userinviteesId.join('\',\'') + '\'',
                    isHost: hostID,
                    status: $("#visitStatus :selected").text(),
                    location: $("#txt_location").val(),
                    individualSelected: individualToVisit,
                    nonVotersInvitees: '\'' + nonvotersinviteesId.join('\',\'') + '\'',
                    individualNotes: JSON.stringify(individualNotes),
                    generalNote: generalNote
                },
                success: function (response) {
                    $('#createVisitRequest').prop('disabled', false);
                    sessionStorage.setItem('selectedIndividual', "");
                    $('#visitModalContainer').modal('toggle');

                },
            });
        }
        else {
            //bootbox.alert("You Most Select Invitees!");
            alert("You Most Select Invitees!")
        }

    });


</script>






