﻿@model CallCenterDashboard1.EDMX.Answer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Answer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IndividualKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndividualKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerTemplate.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerTemplate.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Text)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
