﻿@model CallCenterDashboard1.EDMX.Operation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Operation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationStatu.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationStatu.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Script.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Script.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Survey.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Survey.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OperationKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
