﻿@model IEnumerable<CallCenterDashboard1.EDMX.Operation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OperationStatu.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Script.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Survey.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationLogo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OperationStatu.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Script.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Survey.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OperationKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.OperationKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OperationKey })
        </td>
    </tr>
}

</table>
